<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mobius Landing</title>
    <%- include('../common/common-html-base.html') -%>
    <link rel="stylesheet" href="../css/transport/landing.css">
    <script type="text/javascript" src="../scripts/transport/landing.js" defer="true"></script>
</head>
<body>
    <div class="row justify-content-between align-items-center landing-header padding-lr">
        <div class="col">
            <label class="landing-title">Mobius Landing</label>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto">
                    <img alt="" src="../icons/user.svg">
                    <label class="">UCO</label>
                    <img alt="" src="../icons/dropdown.svg">
                </div>
                <div class="col ms-4">
                    <img alt="" src="../icons/setting.svg">
                </div>
                <div class="col">
                    <img alt="" src="../icons/menu.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="row padding-lr py-4 g-2">
        <div class="col-12">
            <div class="landing-row align-items-center landing-subtitle row-title">
                <label>My Vehicle Holding</label>
            </div>
        </div>
        <div class="col-12">
            <div class="row p-4 bg-white margin-lr landing-box-shadow">
                <div class="col holding-card">
                    <div><label>Vehicles In My Custody</label></div>
                    <div class="holding-img">
                        <img alt="" src="../icons/vehicles in my custody.svg">
                        <label class="holding-number">518</label>
                    </div>
                </div>
                <div class="col-auto"><div class="vr h-100"></div></div>
                <div class="col holding-card">
                    <div><label>Out Of Service</label></div>
                    <div class="holding-img">
                        <img alt="" src="../icons/Out of Service.svg">
                        <label class="holding-number">23</label>
                    </div>
                </div>
                <div class="col-auto"><div class="vr h-100"></div></div>
                <div class="col holding-card">
                    <div><label>Active</label></div>
                    <div class="holding-img">
                        <img alt="" src="../icons/Active.svg">
                        <label class="holding-number">40</label>
                    </div>
                </div>
                <div class="col-auto"><div class="vr h-100"></div></div>
                <div class="col holding-card">
                    <div><label>Loaned Out</label></div>
                    <div class="holding-img">
                        <img alt="" src="../icons/Loaned Out.svg">
                        <label class="holding-number">60</label>
                    </div>
                </div>
                <div class="col-auto"><div class="vr h-100"></div></div>
                <div class="col holding-card">
                    <div><label>Expiring(In 90 Days)</label></div>
                    <div class="holding-img">
                        <img alt="" src="../icons/Expiring(in 90 days).svg">
                        <label class="holding-number">630</label>
                    </div>
                </div>
                <div class="col-auto"><div class="vr h-100"></div></div>
                <div class="col holding-card">
                    <div class="d-inline-block text-truncate"><label>Vehicle Due For Servicing</label></div>
                    <div class="holding-img">
                        <img alt="" src="../icons/vehicles due for servicing.svg">
                        <label class="holding-number">630</label>
                    </div>
                </div>
                <div class="col-auto"><div class="vr h-100"></div></div>
                <div class="col holding-card">
                    <div class="d-inline-block text-truncate"><label>Vehicle Due For Servicing<br>(In 30 Days)</label></div>
                    <div class="holding-img">
                        <img alt="" src="../icons/vehicles due for servicing (in 30 days).svg">
                        <label class="holding-number">630</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="landing-row align-items-center landing-subtitle bg-lightyellow">
                <div class="row w-100">
                    <div class="col-auto me-auto">
                        <img alt="" src="../icons/Assigned Drivers.svg">
                        <label class="ps-3">Today's Assigned Drivers</label>
                    </div>
                    <div class="col-auto text-black">
                        <label>Dirvers: </label>
                        <label>6232</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="landing-row align-items-center landing-subtitle bg-lightyellow">
                <div class="row w-100">
                    <div class="col-auto me-auto">
                        <img alt="" src="../icons/Assigned Drivers.svg">
                        <label class="ps-3">Today's Approved Indents</label>
                    </div>
                    <div class="col-auto text-black">
                        <label>Vehicles: </label>
                        <label>62</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="landing-row align-items-center landing-subtitle row-title">
                <label>Contract Management</label>
            </div>
        </div>
        <div class="col-6">
            <div class="landing-row align-items-center landing-subtitle row-title">
                <label>Incident Management</label>
            </div>
        </div>
        <!--Contract Management-->
        <div class="col-6">
            <div class="row margin-lr bg-white landing-box-shadow">
                <div class="row align-items-center m-0 p-0 height-1 position-relative">
                    <div class="col-6">
                        <div id="chart1"></div>
                    </div>
                    <div class="col-auto text-center position-absolute" style="height: 100px; width: 1px; left: 50%;"><div class="vr h-100"></div></div>
                    <div class="col-6">
                        <div id="chart2"></div>
                    </div>
                </div>
                <div class="row align-items-center m-0 p-0 height-2">
                    <div class="col-6 text-center">
                        <label>Overall Service Level</label>
                    </div>
                    <div class="col-6 text-center">
                        <label>Performance Grading</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Incident Management-->
        <div class="col-3">
            <div class="row margin-lr bg-white landing-box-shadow">
                <div class="row align-items-center m-0 p-0 height-1 position-relative">
                    <div class="col-6 text-center">
                        <label class="incident-management-number incident-management-color-1">60</label>
                    </div>
                    <div class="col-auto text-center position-absolute" style="height: 30px; width: 1px; left: 50%;"><div class="vr h-100"></div></div>
                    <div class="col-6 text-center">
                        <label class="incident-management-number incident-management-color-2">30</label>
                    </div>
                </div>
                <div class="row align-items-center m-0 p-0 height-2">
                    <div class="col-6 text-center">
                        <label>Requesting (Pending)</label>
                    </div>
                    <div class="col-6 text-center">
                        <label>Requesting (Confirmed)</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row margin-lr bg-white landing-box-shadow">
                <div class="row align-items-center m-0 p-0 height-1 position-relative">
                    <div class="col-6 text-center">
                        <label class="incident-management-number incident-management-color-3">10</label>
                    </div>
                    <div class="col-auto text-center position-absolute" style="height: 30px; width: 1px; left: 50%;"><div class="vr h-100"></div></div>
                    <div class="col-6 text-center">
                        <label class="incident-management-number incident-management-color-4">20</label>
                    </div>
                </div>
                <div class="row align-items-center m-0 p-0 height-2">
                    <div class="col-6 text-center">
                        <label>Requesting (Rejected)</label>
                    </div>
                    <div class="col-6 text-center">
                        <label>Requesting (Overdue)</label>
                    </div>
                </div>
            </div>
        </div>
        <!--other-service-->
        <div class="col-12">
            <div class="landing-row align-items-center landing-subtitle row-title">
                <label>Other Services</label>
            </div>
        </div>
        <div class="col-3">
            <div class="other-service">
                <img alt="" src="../icons/Drivers Management.jpg">
                <div class="other-service-title">
                    <div><label>Drivers Management</label></div>
                    <button class="btn-view-more mt-5 text-white">VIEW MORE</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="other-service">
                <img alt="" src="../icons/Keypress Management.jpg">
                <div class="other-service-title">
                    <div><label>Keypress Management</label></div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="other-service">
                <img alt="" src="../icons/REPORT.jpg">
                <div class="other-service-title">
                    <div><label>Report</label></div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="other-service">
                <img alt="" src="../icons/MAINTENANCE.jpg">
                <div class="other-service-title">
                    <div><label>Maintenance</label></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>