<link rel="stylesheet" href="../css/route/route-view.css">
<script type="module" src="../scripts/route/route-view.js"></script>
<div class="modal fade" id="view-route" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View/Edit Route</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <input type="search" class="form-control form-control-sm custom-search route-search" aria-controls="driver-list" placeholder="Search">
                    </div>
                </div>
                <div style="width: 100%; overflow: auto;">
                    <table aria-hidden="true" id="route-list">

                    </table>
                </div>
            </div>
            <div class="modal-footer" style="display: inline;">
            </div>
        </div>
    </div>
</div>