.popup-middle {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #666666;
    width: fit-content;
    height: fit-content;
    min-width: 600px;
    max-width: 60vw;
    min-height: 20vh;
    max-height: 70vh;
    /*background-color: gray;*/
    background-color: rgba(0, 0, 0, 0.7);
}
.popup-middle-draggable {
    position: fixed;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #666666;
    width: fit-content;
    height: fit-content;
    min-width: 600px;
    max-width: 60vw;
    /*background-color: gray;*/
    background-color: rgba(0, 0, 0, 0.7);
}
.popup-title {
    height: fit-content;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: move;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.popup-title .popup-title-label {
    line-height: fit-content;
}
.popup-title .popup-title-close {
    line-height: fit-content;
    float: right;
    padding-right: 5px;
    cursor: pointer;
}
.popup-title .popup-title-close:hover {
    color: #F6BC12;
}
.popup-content {
    padding: 10px;
    height: fit-content;
    min-width: 20vw;
    min-height: 4vh;
    max-height: 60vh;
    overflow: auto;
    /*background-color: white;*/
    background-color: rgb(0 0 0 / 32%);
    color: white;
}
.popup-action {
    height: fit-content;
    padding: 10px;
    text-align: center;
    /*background-color: white;*/
    background-color: rgb(0 0 0 / 32%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.custom-btn {
    color: white;
    border-radius: 6px;
    padding: 5px 8px 5px 8px;
    border-width: 0;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.custom-btn:hover {
    box-shadow: 1px 1px 6px #4f73ed;
}

.custom-btn-cancel {
    background-color: gray;
}
.custom-btn-primary {
    background-color: #337ab7;
}