<%- include('../noGoZone/noGoZone-create.html') -%>
<%- include('../noGoZone/noGoZone-view.html') -%>
<link rel="stylesheet" href="../css/driver/driver-menu.css">
<script type="module" src="../scripts/noGoZone/noGoZone-menu.js"></script>
    
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight-NoGoZone">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">No Go Zone</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <img alt="" src="../images/driver/car.png">
            <label class="user-select-none">No Go Zone Management</label>
        </div>
        <ul class="list-group">
            <% if (pageList.find(item => item.module == 'Zone' && item.page == 'No Go Zone' && item.action == 'New')) { %>
            <li class="list-group-item user-select-none" data-action="noGoZone-create" data-bs-toggle="offcanvas" data-bs-target="#create-noGoZone" aria-controls="create-noGoZone">Create No Go Zone</li>
            <% } %>
            <% if (pageList.find(item => item.module == 'Zone' && item.page == 'No Go Zone' && item.action == 'View')) { %>
                <li class="list-group-item user-select-none" data-action="noGoZone-view">View No Go Zone</li>
            <% } %>
        </ul>
        <hr>
    </div>
</div>