<script type="module" src="../scripts/noGoZone/noGoZone-view.js"></script>
<style>
    #noGoZone-list td {
        line-height: 18px;
        border-bottom: solid 1px rgb(238, 238, 238);
    }
</style>
<div class="modal fade" id="view-noGoZone" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">No Go Zone List</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <input type="search" class="form-control form-control-sm custom-search searchNoGoZone" aria-controls="driver-list" placeholder="Search">
                    </div>
                </div>
                <div style="width: 100%; overflow: auto;">
                    <table aria-hidden="true" id="noGoZone-list">

                    </table>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>