<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>credit</title>
    <%- include('../common/common-html2.html') -%>
    <link rel="stylesheet" href="../DataTables-bootstrap4/dataTables.bootstrap4.min.css">
    <script src="../DataTables-bootstrap4/jquery.dataTables.min.js"></script>
    <script src="../DataTables-bootstrap4/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="../pagehelper/pageHelper.js"></script>
    <link rel="stylesheet" href="../css/credit/credit.css"> 
    <script type="text/javascript" src="../scripts/credit/credit.js"></script>
</head>
<body style="overflow-x: hidden;">
    <div class="container-fluid pb-4">
        <div class="row px-2 py-2" style="padding-right: 0.9rem !important;">
            <style>
                .status-div {
                    height: 120px;
                    border-radius: 10px;
                    background-color: white;
                    box-shadow: 0 0 5px rgb(177, 177, 177);
                }
                .div-table {
                    display: table; 
                    height: 100%;
                }
                .div-table-cell {
                    display: table-cell; 
                    text-align: center; 
                    vertical-align: middle;
                }

                .dataTables_wrapper .dataTables_paginate .paginate_button {
                    padding: 0 !important;
                }

                .page-item {
                    padding: 0px !important;
                    margin: 0px !important;
                    border: 0 !important;
                }

                table {
                    font-size: 16px;
                }
                .dataTables_scrollHeadInner {
                    width: 100% !important;
                }
                
                .dataTables_scrollHeadInner > table {
                    width: 100% !important;
                }
            </style>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 px-1 py-1">
                <div class="status-div px-5">
                    <div class="div-table">
                        <div class="div-table-cell" style="width: 70px;">
                            <div style="background-color: #7965FB; width: 60px;height: 60px; border-radius: 60px; ">
                                <img alt="" src="../images/credit/textUpdate.png" style="width: 35px;height: 35px; margin-top: 12px;" draggable="false"/>
                            </div>
                        </div>
                        <div class="div-table-cell" style="text-align: left;">
                            <label class="div-january-total div-top-number" style="color: #7965FB;" id="div-top-total-number"></label><br>
                            <label class="div-top-title" id="div-top-title-month"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 px-1 py-1">
                <div class="status-div px-5">
                    <div class="div-table">
                        <div class="div-table-cell"  style="width: 70px;">
                            <div style="background-color: #3EB546; width: 60px;height: 60px; border-radius: 60px; ">
                                <img alt="" src="../images/credit/data-top.png" style="width: 40px;height: 40px; margin-top: 10px;" draggable="false"/>
                            </div>
                        </div>
                        <div class="div-table-cell" style="text-align: left;">
                            <label class="div-january-total div-top-number" style="color: #3EB546;" id="div-top-accumulated-number"></label><br>
                            <label class="div-top-title">Total&nbsp;Points&nbsp;Accumulated</label>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 px-1 py-1">
                <div class="status-div px-5">
                    <div class="div-table">
                        <div class="div-table-cell"  style="width: 70px;">
                            <div style="background-color: #F49A2E; width: 60px;height: 60px; border-radius: 60px; ">
                                <img alt="" src="../images/credit/probability.png" style="width: 40px;height: 40px; margin-top: 10px;" draggable="false"/>
                            </div>
                        </div>
                        <div class="div-table-cell" style="text-align: left;">
                            <label class="div-january-total div-top-number" style="color: #F49A2E;" id="div-top-used-number"></label><br>
                            <label class="div-top-title">Total&nbsp;Points&nbsp;Used</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 px-1 py-1">
                <div class="status-div px-5">
                    <div class="div-table">
                        <div class="div-table-cell" style="width: 70px;">
                            <div style="background-color: #4ABACC; width: 60px;height: 60px; border-radius: 60px; ">
                                <img alt="" src="../images/credit/data.png" style="width: 40px;height: 40px; margin-top: 10px;" draggable="false"/>
                            </div>
                        </div>
                        <div class="div-table-cell" style="text-align: left;">
                            <label class="div-january-total div-top-number" style="color: #4ABACC;" id="div-top-pendinq-number">0</label><br>
                            <label class="div-top-title">Pending&nbsp;Points</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="width: 66%;padding-left: 22px;">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-auto" style="width: 7%;">
                        <div class="div-image-circle-screen" style="background-color: white;">
                            <img alt="" src="../images/credit/screen.png" style="width: 20px;height: 20px;" draggable="false"/>
                        </div>
                    </div>
                    <div class="col-auto" style="padding-left: 0px;">
                        <div class="row">
                            <div class="col-sm-5" style="text-align: right;line-height: 38px;font-weight: bold;word-break: break-all;">Date&nbsp;Range:</div>
                            <div class="col-sm-7" id="select-dataRange-row" style="padding-left: 0px;display: none;">
                                <input class="form-select" id="select-dataRange" readonly/>
                            </div>
                            <div class="col-sm-7" id="select-dataRange2-row" style="padding-left: 0px;display: show;max-width: 190px;">
                                <input class="form-select" id="select-dataRange2" readonly/>
                            </div>
                        </div>
                         
                    </div>
                    <div class="col-auto" style="padding-left: 0px;">
                        <div class="row">
                            <div class="col-sm-6" style="text-align: right;line-height: 38px;font-weight: bold;word-break: break-all;">Purpose&nbsp;Type:</div>
                            <div class="col-sm-6" style="padding-left: 0px;max-width: 160px;"><select class="form-select" id="select-purposeType"></select></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="text-align: right;">
                <button class="btn btn-clear" type="button" id="clearAll" style="color: #7E7E7E;">Clear&nbsp;all</button>
            </div>   
           </div>
        <div class="row" style="padding-top: 10px;padding-left: 2px;padding-right: 10px;">
            <div class="col-sm-8">
                <div class="container" style="padding: 0px;margin: 0px;">
                    <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body" style="height: 700px;">
                        <table aria-hidden="true" class="table indent-table" id="table-list"></table>
                    </div> 
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding: 0px;padding-right: 10px">
                <div class="div-main">
                    <div id="main" style="width: 100%;height:750px;padding-top: 10px;font-size: 15px;"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>