
<style type="text/css">
    * {
        margin: 0;
        padding: 0;
        /* border: 0; */
        font-family: 'Inter'
    }
    .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
    .custom-input-task {
        border-width: 0 !important;
        border-bottom-width: 1px !important;
        border-radius: 0 !important;
        background-color: white !important;
        color: black;
        box-shadow: none !important;
        line-height: 1.4 !important;
    }

    .custom-input-img {
        position: relative;
        top: -2em;
        float: right;
        right: 0.6em;
    }

    .form-control {
        padding: 0.2em !important;
    }

    .search-select {
        position: absolute;
        z-index: 999;
        display: none;
        background-color: #fff;
        border: 1px solid #ced4da;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
    }

    .form-search-select {
        height: 150px;
        overflow-y: auto;
    }

    .form-search-select li {
        min-height: 35px;
        margin: 5px;
        border-bottom: 1px #cccccc dashed;
        display: flex;
        align-items: center;
        word-break: break-word!important;
    }
    .laydate-time-list>li:last-child {
        display: none;
    }
    .laydate-time-list>li{
        width: 50% !important;
    }
    .layui-laydate-list ol {
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
</style>

<div class="modal fade" id="editMobileTaskModal" tabindex="-1" data-backdrop="static" data-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #1C9063 !important;">
          <h4 class="modal-title">Edit DV Mobile Task</h4>
        </div>
        <div class="modal-body" style="padding-bottom: 2rem;">
          <div class="row">
            <div class="content-div pb-5" style="overflow-y: auto; height: calc(100% - 45px)">
                <label class="currentTripId" style="display: none;"></label>
                <div class="container-fluid px-3 mt-3">
                    <div style="background-color: white; box-shadow: 2px 2px 5px #8b8b8b; border-radius: 8px; border-top: 12px solid #1d6348;"
                        class="pt-2 pb-1">
                        <div class="px-3">
                            <div class="row mt-2">
                                <div class="col-12">
                                    <label class="custom-size3 custom-color1 py-1">Purpose*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <select class="form-control custom-input-task px-1" id="purpose" name="purpose">
                                    </select>
                                    <img alt="" class="custom-input-img" style="width: 1em; top: -1.6em; right: 1em;"
                                        src="../images/down-arrow.svg">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <label class="custom-size3 custom-color1 py-1">Date Time Start*</label>
                                </div>
                            </div>
                            <div class="row" id="startTimeCalender">
                                <div class="col-12 startTimeCalender">
                                    <input class="form-control custom-input-task px-1" id="startDatetime" name="startDatetime" readonly>
                                    <img alt="" class="custom-input-img" style="width: 1.6em;" src="../images/calender.svg">
                                </div>
                            </div>
            
                            <div class="row mt-2">
                                <div class="col-12">
                                    <label class="custom-size3 custom-color1 py-1">Date Time End*</label>
                                </div>
                            </div>
                            <div class="row" id="endTimeCalender">
                                <div class="col-12 endTimeCalender">
                                    <input class="form-control custom-input-task px-1" id="endDatetime" name="endDatetime" readonly>
                                    <img alt="" class="custom-input-img" style="width: 1.6em;" src="../images/calender.svg">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <label class="custom-size3 custom-color1 py-1">Vehicle*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="position-relative" id="vehicle-select">
                                        <img alt="" class="custom-input-img" style="width: 1em; top: 1.6em; right: 1em;"
                                            src="../images/down-arrow.svg">
                                        <input type="text" class="form-control custom-input-task" id="vehicle" name="vehicle"
                                            autocomplete="off" readonly>
                                        <div class="search-select shadow">
                                            <input type="text" class="form-control" autocomplete="off" id="search-vehicle"
                                                placeholder="Search">
                                            <div class="form-search-select">
            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <label class="custom-size3 custom-color1 py-1">Reporting Location*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="position-relative" id="reportingLocation-select">
                                        <img alt="" class="custom-input-img" style="width: 1em; top: 1.6em; right: 1em;"
                                            src="../images/down-arrow.svg">
                                        <input type="text" class="form-control custom-input-task" id="reportingLocation"
                                            name="reportingLocation" autocomplete="off" readonly>
                                        <div class="search-select shadow">
                                            <input type="text" class="form-control" autocomplete="off" id="search-reportingLocation"
                                                placeholder="Search">
                                            <div class="form-search-select">
            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label class="custom-size3 custom-color1 py-1">Destination*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="position-relative" id="destination-select">
                                        <img alt="" class="custom-input-img" style="width: 1em; top: 1.6em; right: 1em;"
                                            src="../images/down-arrow.svg">
                                        <input type="text" class="form-control custom-input-task" id="destination" name="destination"
                                            autocomplete="off" readonly>
                                        <div class="search-select shadow">
                                            <input type="text" class="form-control" autocomplete="off" id="search-destination"
                                                placeholder="Search">
                                            <div class="form-search-select">
            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5 mt-2">
                                <div class="col-6" style="display: flex; justify-content: flex-start; align-items: center;">
                                    <button class="w-75 btn custom-btn-gray custom-size2 custom-weight custom-color3 cancel-btn"
                                        id="editMobileTaskCancel">Cancel</button>
                                </div>
                                <div class="col-6" style="display: flex; justify-content: flex-end; align-items: center;">
                                    <button class="w-75 btn btn-success custom-size2 custom-weight custom-color3 submit-btn"
                                        onclick="submitTrip();">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript" src="../scripts/dashboard/editMobileTask.js"></script>
</html>