<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <%- include('../common/common-html.html') -%>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/dashboard/overview.css"> 
    
    <link rel="stylesheet" href="../multiple-select/multiple-select.css">
    <link rel="stylesheet" href="../jquery-confirm/jquery-confirm.min.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../DataTables-bootstrap4/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../css/common-style.css">
    <link rel="stylesheet" href="../css/common-bootstrap.css">
    <link rel="stylesheet" href="../css/common-datatables.css">
    <link rel="stylesheet" href="../layui/css/layui.css">



    <link rel="stylesheet" href="../datepicker/css/datepicker.css" type="text/css" />
    <!-- <link rel="stylesheet" media="screen" type="text/css" href="../datepicker/css/layout.css" /> -->


    <!-- <script type="text/javascript" src="../scripts/content.js"></script> -->

</head>

<body class="body">    
    <div class="container-fluid h-100 m-0" style="overflow-x: hidden;background-color: #F5F5F5;">
        <div class="shadow">
            <div class="row mx-0 justify-content-around py-1 px-2" style="align-items: center;">
                <div class="col-2 top-title" style="font-size: 15px;">HQTPT Dashboard</div>
                <div class="col-8">
                    <div class="row" style="justify-content: center;">
                        <div class="col-4">
                            <select class="form-select" id="unit-hub-top" style="height: 1.7rem;font-size: 0.7rem !important;"> 
                            </select>
                        </div>
                    </div> 
                </div>
                <div class="col-2">
                    <!-- <div class="row" style="float: right;">
                        <div class="overview-div" style="float: right;padding-right: 1rem;">
                            <button class="mx-2" type="button">
                                <label class="overview-label" style="font-weight: 600;">Generate Report</label>    
                                <img alt="" src="../images/Dashboard/image.png" draggable="false">
                            </button>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 0.5rem;">
            <div class="mt-1">
                <div class="row" style="padding-left: 0.5rem!important; height: 14rem;">
                    <div class="col-sm-5">
                        <div class="row py-2 px-2" style="background-color: white;border-radius: 14px;margin-right: 5px;height: 7rem; align-items:center;">
                            <div class="row">
                                <div class="col-sm-2 dashboard-trucks"><img alt="" src="../images/dashboard/trucks.png" class="leftimg" alt="" draggable="false"> </div>
                                <div class="col-sm-10" style="height: 45px;">
                                    <div style="font-size: 0.01vw;height: 10px;color: #A6A6A6;font-weight: 500;font-size: 14px;">Military Vehicles Ready</div>
                                    <div id="vehicleTodayAssigned">
                                        <label style="font-size: 22px;font-weight: bold;height: 20px;" id="availableNumber"></label>
                                        <label style="color: #A6A6A6;font-size: 14px;" id="vehicleTotal"></label>
                                    </div>
                                </div>
                                <div class="row p-1" style="margin-left: 4px;">
                                    <div class="p-0" style="text-align: right;color: rgb(27, 144, 99);font-size: 0.01vw;" id="available-percentage"></div>
                                    <div class="progress p-0" style="height: 5px;">
                                        <div class="progress-bar" style="background-color: rgb(27, 144, 99); " id="vehicleTodayStartPercentage"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row py-2 px-2" style="background-color: white;border-radius: 14px;margin-right: 5px;margin-top: 19px;height: 7rem;align-items:center;">
                            <div class="row" style="font-weight: 700;padding-left: 22px;font-size: 15px;">Military Indent Fulfillment</div>
                            <div class="row pe-0">
                                <div class="col-sm-10">
                                    <div class="row p-1">
                                        <div class="progress p-0">
                                            <div class="progress-bar" style="background-color: rgb(250, 208, 40); " id="militaryTasks-rending-progress"></div>
                                            <div class="progress-bar" style="background-color: rgb(27, 144, 99); " id="militaryTasks-ongoing-progress"></div>
                                            <div class="progress-bar" style="background-color: rgb(229, 229, 229); " id="militaryTasks-completed-progress"></div>
                                        </div>
                                        <div class="row">
                                            <table aria-hidden="true">
                                                <tbody><tr>
                                                    <td style="width: 20px;height: 15px;"><div style="width: 10px;height: 10px;border-radius: 4px;background-color: #FAD028"></div></td>
                                                    <td><span style="font-size: 16px;font-weight: bold;" id="militaryTasks-rending"></span>&nbsp;&nbsp;<span class="state-name">Pending</span></td>
                                                    <td style="width: 20px;height: 15px;"><div style="width: 10px;height: 10px;border-radius: 4px;background-color: #1B9063"></div></td>
                                                    <td><span style="font-size: 16px;font-weight: bold;" id="militaryTasks-ongoing"></span>&nbsp;&nbsp;<span class="state-name">Ongoing</span></td>
                                                    <td style="width: 20px;height: 15px;"><div style="width: 10px;height: 10px;border-radius: 4px;background-color: #E5E5E5"></div></td>
                                                    <td><span style="font-size: 16px;font-weight: bold;" id="militaryTasks-completed"></span>&nbsp;&nbsp;<span class="state-name">Completed</span></td>
                                                </tr>
                                            </tbody></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 px-0">
                                    <div style="background-color: #EFF5F5;border-radius:10px 10px 10px 10px;height: 4rem;"> 
                                        <div style="padding-left: 8px; color: #A6A6A6;font-size: 15px;">Today</div>
                                        <div class="div-today" style="margin-top: -0.6rem;padding-left: 8px;color: rgb(27, 144, 99);font-size: 22px;font-weight: 700;" id="militaryTasks-total"></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-3 px-1">
                        <div class="row" style="border-radius: 15px;background-color: white; padding-left: 1rem;padding-right: 1rem;height: 15.3rem;">
                            <div class="mt-1">
                                <div class="row">
                                    <div class="col-sm-6" style="font-weight: 700;font-size: 15px;">Indents</div>
                                    <div class="col-sm-6" style="text-align: right;color: #A6A6A6;font-size: 15px;">Total: <label id="indentCount-total"></label></div>
                                </div>
                            </div>
                            <div class="mt-1" id="py-mt-div">
                                <div class="row" style="padding-left: 0.7rem;" id="py-row-div1">
                                    <div class="col-sm-2 dashboard-assigned"><img alt="" src="../images/dashboard/assigned.png" class="leftimg" alt="" draggable="false"> </div>
                                    <div class="col-sm-8">
                                        <div style="margin-top: -0.3rem;color: #A6A6A6;font-weight: 700;font-size: 16px;">Assigned</div>
                                        <div style="margin-top: -0.7rem;font-weight: 700;font-size: 22px;" id="indentCount-assigned">
                                           
                                        </div>
                                    </div>
                                    <div class="col-sm-2 m-0" style="text-align: right;"><img alt="" src="../images/dashboard/right.png" alt="" style="width: 18px;height: 18px;" draggable="false"></div>
                                </div>
                                <div class="row" style="padding-left: 0.7rem;" id="py-row-div2">
                                    <div class="col-sm-2 dashboard-Pending"><img alt="" src="../images/dashboard/Pending.png" class="leftimg" alt="" draggable="false"> </div>
                                    <div class="col-sm-8">
                                        <div style="margin-top: -0.3rem;color: #A6A6A6;font-weight: 700;font-size: 16px;">Pending&nbsp;Assignment</div>
                                        <div id="indentCount-pendingAssignment" style="margin-top: -0.7rem;font-weight: 700;font-size:  22px;">
                                           
                                        </div>
                                    </div>
                                    <div class="col-sm-2 m-0" style="text-align: right;"><img alt="" src="../images/dashboard/right.png" alt="" style="width: 18px;height: 18px;" draggable="false"></div>
                                </div>
                                <div class="row" style="padding-left: 0.7rem;" id="py-row-div3">
                                    <div class="col-sm-2 dashboard-approval"><img alt="" src="../images/dashboard/approval.png" class="leftimg" alt="" draggable="false"> </div>
                                    <div class="col-sm-8">
                                        <div style="margin-top: -0.3rem;color: #A6A6A6;font-weight: 700;font-size: 16px;">Pending&nbsp;Approval</div>
                                        <div id="indentCount-pendingApproval" style="margin-top: -0.7rem;font-weight: 700;font-size: 22px;">
                                           
                                        </div>
                                    </div>
                                    <div class="col-sm-2 m-0" style="text-align: right;"><img alt="" src="../images/dashboard/right.png" alt="" style="width: 18px;height: 18px;" draggable="false"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row" id="week-div-row" style="margin-left: 3px; background-color: white; border-radius: 15px;margin-left: 2px;margin-right: 2px; height: 15.16rem;overflow-x: hidden;overflow-y: auto;">
                            <div style="width: 100%; height: fit-content">
                                <div class="mt-1">
                                    <div class="row" style="margin-top: 3px;margin-left: 9px;font-weight: 700;font-size: 15px;">
                                        WPT & MPT due this week
                                    </div>
                                </div>
                                <div class="row" style="color: #A6A6A6; margin-left: 6px;">
                                    <div class="col-sm-5" style="font-size: 15px;">HUB</div>
                                    <div class="col-sm-7">
                                        <div class="row">
                                            <div class="col-sm-4" style="font-size: 15px;">WPT</div>
                                            <div class="col-sm-4" style="font-size: 15px;">MPT</div>
                                            <div class="col-sm-4" style="font-size: 15px;">Total</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row wpt-week-content">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-1 py-3 px-4" style="padding-top: 1.5rem !important;">
                <div class="row" style="background-color: white;border-radius: 15px;">
                    <div class="row" style="margin-top: 2rem;margin-left: 0.2rem;height: 2vw;">
                        <div class="col-sm-3">
                            <div class="row">
                                <label style="font-weight: 700;font-size: 15px;">Indent Allocation</label>
                                <!-- <div class="col-sm-9" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="row" id="indentAllocation">
                                        
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row" style="justify-content: right;">
                                <div class="col-auto">
                                    <div class="mb-2 row">
                                        <label for="purposeType" class="col-sm-5" style="text-align: right;line-height: 2.2rem;color: #A6A6A6;padding-right: 0px;font-size: 14px;">Purpose:</label>
                                        <div class="col-sm-7">
                                            <select class="form-select" id="purposeType" name="purposeType"> </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-sm-3" style="text-align: right;line-height: 2.2rem;color: #A6A6A6;padding-right: 0px;font-size: 14px;">Vehicle</div>
                                        <div class="col-sm-9" id="select-vehicle-div">
                                            <input class="form-select" id="select-vehicle-input" readonly="">

                                            <div class="card vehicle-search-select shadow" style="display: none;">
                                                <div class="card-header">
                                                    <input type="text" class="form-control" autocomplete="off" id="search-vehicle" placeholder="Search vehicle" style="padding-left: 1.5rem;background-color: #F5F5F5;">
                                                    <img alt="" src="../images/hq/search.png" class="leftimg" alt="" style="display: block;" draggable="false">
                                                </div>
                                                <div class="card-body">
                                                    <div class="form-search-select1 form-search-select">
                                                    
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-sm-3" style="text-align: right;line-height: 2.2rem;color: #A6A6A6;padding-right: 0px;font-size: 14px;">Date&nbsp;range</div>
                                        <div class="col-sm-9">
                                            <div class="executionDate-div">
                                                <input type="text" class="form-control executionDate-input" name="executionDate"  placeholder="Date range" autocomplete="off" readonly="">
                                                <img alt="" src="../images/dashboard/calendar.png" id="executionDate-image" draggable="false"/>
                                            </div>
                                            <div id="executionDate"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label style="display: none;padding-top: 1rem;padding-left: 1rem;font-weight: 700;font-size: 15px;"><label id="vehicle-type"></label> Indents</label>
                            <div id="main" style="width: 100%;height:240px;"></div>
                        </div>
                        <!-- <div class="col-sm-1" style="margin-top: 12rem;margin-left: -4rem;">
                            <div class="row indent-color">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-sm-2" style="margin-top: 10px;"><div style="width: 15px;height: 15px;border-radius: 3px;background-color: #6495F2"></div></div>
                                        <div class="col-sm-5" style="color: #A6A6A6;">Admin</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2" style="margin-top: 10px;"><div style="width: 15px;height: 15px;border-radius: 3px;background-color: #30C69D"></div></div>
                                        <div class="col-sm-5" style="color: #A6A6A6;">Ops</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2" style="margin-top: 10px;"><div style="width: 15px;height: 15px;border-radius: 3px;background-color: #005D4A"></div></div>
                                        <div class="col-sm-5" style="color: #A6A6A6;">Training</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2" style="margin-top: 10px;"><div style="width: 15px;height: 15px;border-radius: 3px;background-color: #F39300"></div></div>
                                        <div class="col-sm-5" style="color: #A6A6A6;">Exercise</div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label style="padding-top: 1rem;padding-left: 1rem;font-weight: 700;font-size: 15px;"><label id="vehicle-type2"></label> Vehicle Availability</label>
                            <div style="width: 100%;height: 220px;margin-top: -2.1rem;" id="vehicle-main"></div>
                            <div class="row" style="justify-content: right;">
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-sm-2" style="margin-top: 0.5rem;"><div style="width: 15px;height: 15px;border-radius: 3px;background-color: #73A0F6"></div></div>
                                        <div class="col-sm-5" style="color: #A6A6A6;font-size: 15px;">Vehicle&nbsp;Demand</div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-sm-2" style="margin-top: 1rem;"><div style="width: 25px;height: 3px;border-radius: 3px;background-color: #73A0F6"></div></div>
                                        <div class="col-sm-5" style="color: #A6A6A6;font-size: 15px;">Vehicle&nbsp;Availability</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label style="padding-top: 1rem;padding-left: 1rem;font-weight: 700;font-size: 15px;"><label id="vehicle-type3"></label> TO Availability</label>
                            <div style="width: 100%;height: 220px;margin-top: -2.1rem;" id="to-main"></div>
                            <div class="row" style="justify-content: right;">
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-sm-2" style="margin-top: 0.5rem;"><div style="width: 15px;height: 15px;border-radius: 3px;background-color: #F39300"></div></div>
                                        <div class="col-sm-5" style="color: #A6A6A6;font-size: 15px;">TO&nbsp;Demand</div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-sm-2" style="margin-top: 1rem;"><div style="width: 25px;height: 3px;border-radius: 3px;background-color: #F39300"></div></div>
                                        <div class="col-sm-5" style="color: #A6A6A6;font-size: 15px;">TO&nbsp;Availability</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-1 py-1 px-4">
                <div class="row" style="background-color: white;border-radius: 15px;">
                    <div style="font-weight: 700;margin-top: 0.6rem;margin-left: 2rem;font-weight: 700;font-size: 15px;">Vehicle Servicing</div>
                    <div class="row">
                        <div style="width: 100%;height: 220px;" id="vehicle-servicing"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../axios/axios.min.js"></script>
    <script type="text/javascript" src="../moment/moment.min.js"></script>
    <script type="text/javascript" src="../jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../js-cookie/js.cookie.min.js"></script>
    <script type="text/javascript" src="../jquery/jquery.form.min.js"></script>

    <script type="text/javascript" src="../multiple-select/multiple-select.js"></script>
    
    <script type="text/javascript" src="../jquery-confirm/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <script src="../DataTables-bootstrap4/jquery.dataTables.min.js"></script>
    <script src="../DataTables-bootstrap4/dataTables.bootstrap4.min.js"></script>
    
    
    <script type="module" src="../scripts/common-script.js"></script>

    <script type="text/javascript" src="../layui/layui.js"></script>

    <script type="text/javascript" src="../scripts/content.js"></script>
    <script type="text/javascript" src="../pagehelper/pageHelper.js"></script>

    <script type="text/javascript" src="../scripts/vehicle/vehicle-editAndUpload.js"></script>

    <script type="text/javascript" src="../datepicker/js/datepicker.js"></script>
    <!-- <script type="text/javascript" src="../datepicker/js/eye.js"></script>
    <script type="text/javascript" src="../datepicker/js/utils.js"></script> -->
    <!-- <script type="text/javascript" src="../datepicker/js/layout.js"></script> -->

    <script src="../scripts/dashboard/overview.js"></script>
</body>

</html>