<%- include('../userZone/userZone-create.html') -%>
<%- include('../userZone/userZone-view.html') -%>
<%- include('../route/route-create.html') -%>
<%- include('../route/route-view.html') -%>
<%- include('../incident/incident-view.html') -%>
<%- include('../driver/driver-view.html') -%>
<%- include('../driver/driver-create.html') -%>
<%- include('../driver/driver-upload.html') -%>
<%- include('../driver/driver-update.html') -%>
<%- include('../vehicle/vehicle-upload.html') -%>
<%- include('../waypoint/waypoint-upload.html') -%>
<%- include('../location/location-view.html') -%>
<%- include('../mileage/mileage-view.html') -%>
<link rel="stylesheet" href="../css/driver/driver-menu.css">
<script type="module" src="../scripts/driver/driver-menu.js"></script>
    
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">Driver Control</h5>
      
    </div>
    <div class="offcanvas-body">
        <% if (pageList.find(item => item.module == 'Driver Control' && ['View Mileage', 'Upload Driver', 'Upload Vehicle'].includes(item.page))) { %>
        <div>
            <img alt="" src="../images/driver/car.png">
            <label class="user-select-none" for="user-select-none-for">Driver Management</label>
        </div>
        <ul class="list-group">

            <% if (pageList.find(item => item.page == 'View Mileage')) { %>
                <li class="list-group-item user-select-none" data-action="mileage-view">View Mileage</li>
            <% } %>
            <% if (pageList.find(item => item.page == 'Upload Driver')) { %>
            <li class="list-group-item user-select-none" data-action="driver-upload">Upload Driver List</li>
            <% } %>
            <% if (pageList.find(item => item.page == 'Upload Vehicle')) { %>
            <li class="list-group-item user-select-none" data-action="vehicle-upload">Upload Vehicle List</li>
            <% } %>
        </ul>
        <hr>
        <% } %>
        <% if (pageList.find(item => ['Create Route', 'View Route', 'Waypoint', 'Location', 'Incident'].includes(item.page) )) { %>
        <div>
            <img alt="" src="../images/driver/car.png">
            <label class="user-select-none" for="route-management-for">Route Management</label>
        </div>
        <ul class="list-group">
            <% if (pageList.find(item => item.page == 'Create Route')) { %>
            <li class="list-group-item user-select-none" data-action="route-create" data-bs-toggle="offcanvas" data-bs-target="#create-route" aria-controls="create-route">Create Routes</li>
            <% } %>

            <% if (pageList.find(item => item.page == 'View Route')) { %>
            <li class="list-group-item user-select-none" data-action="route-view">View/Edit Routes</li>
            <% } %>

            <% if (pageList.find(item => item.page == 'Waypoint')) { %>
            <li class="list-group-item user-select-none" data-action="waypoint-upload">Upload Waypoint List</li>
            <% } %>

            <% if (pageList.find(item => item.page == 'Location')) { %>
            <li class="list-group-item user-select-none" data-action="location-view">View/Edit Location</li>
            <% } %>

            <% if (pageList.find(item => item.page == 'Incident')) { %>
            <li class="list-group-item user-select-none" data-action="incident-view">View/Edit Incident</li>
            <% } %>
        </ul>
        <% } %>
        
    </div>
</div>