.offcanvas {
    width: 280px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.offcanvas .offcanvas-title {
    color: #F7BD14;
    font-weight: bold;
    font-size: 18px;
}

.offcanvas .offcanvas-header {
    padding: 0.5rem 1rem;
    border-bottom: solid 2px #F7BD14;
}

.offcanvas .list-group-item {
    color: white;
    font-size: 13px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.2rem 2rem;
    cursor: pointer;
    border-radius: 5px;
}
.offcanvas .list-group-item:hover {
    color: #F7BD14;
    background-color: rgba(167, 167, 167, 0.2);
}

.offcanvas .offcanvas-body img {
    width: 22px;
}
.offcanvas .offcanvas-body label {
    font-size: 13px;
    /* font-weight: bold; */
    margin-left: 5px;
}