<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Military Vehicles</title>
    <link rel="stylesheet" href="../jquery-confirm/jquery-confirm.min.css">

    <link rel="stylesheet" href="../multiple-select/multiple-select.css">

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../DataTables-bootstrap4/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../css/common-style.css">
    <link rel="stylesheet" href="../css/common-bootstrap.css">
    <link rel="stylesheet" href="../css/common-datatables.css">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../datepicker/css/datepicker.css">
    <script type="text/javascript" src="../lodash/lodash.min.js"></script>
    <style>
        .container-fluid {
            overflow: auto;
        }

        table thead th {
            border-style: none;
        }

        table.dataTable tbody tr td {
            display: table-cell; 
            vertical-align: middle;
            line-height: 22px;
        }

        table.dataTable tbody tr {
            background-color: white;
            border: solid 10px #F3F3F3;
        }

        table.dataTable tbody tr td:first-child {
            border-bottom-left-radius: 25px;
            border-top-left-radius: 25px;
        }
        table.dataTable tbody tr td:last-child {
            border-bottom-right-radius: 25px;
            border-top-right-radius: 25px;
        }

        table.dataTable tbody tr {
            background-color: white;
        }

        .table-shadow {
            box-shadow: none;
        }
        .table-common {
            border: none;
            border-radius: 0px;
            background-color: #F3F3F3;
        }

        .jobTask-table {
            margin-left: 10px;
            margin-right: 10px;
        }
        .status-filter-nav {
            width: fit-content;
            height: 36px;
            display: flex;
            border-radius: 20px;
            margin-left: 25px;
            cursor: pointer;
        }
        .status-filter-item {
            width: fit-content;
            padding: 0 3.5em;
            height: 36px;
            border-radius: 20px;
            color: #5c5959;
            display: flex;
            border: 1px solid #b5b0b0;
            background-color:#e6e6e6;
            justify-content: center;
            align-items: center;
            margin-left: -35px;
        }
        .status-filter-item.active {
            background-color: #4EB981;
            border: 1px solid #4EB981;
            background-size: 100%;
            color: white;
            z-index: 99999;
        }
        
        .filter-item {
            margin-right: 10px;
            margin-bottom: 5px;
        }
        .paginate_button.page-item {
            line-height: 1.5em;
        }
        .form-control {
            background-color: #F9EED8 !important;
            border: 1px solid #EBDE99 !important;
            cursor: pointer;
        }
        .dataTables_length {
            padding-top: 10px;
        }

        .div-table {
            display: table; 
            height: 100%;
        }
        .div-table-cell {
            display: table-cell; 
            text-align: center; 
            vertical-align: middle;
        }
        .circle-status {
            width: fit-content;
            padding: 0 20px;
            border-radius: 5px;
            border: solid 1px rgb(232, 232, 232);
            margin: auto;
        }
        .circle-status label {
            line-height: 15px;
            font-size: 15px;
            color: rgb(153, 153, 153);
        }
        .div-circle {
            width: 10px; 
            height: 10px; 
            border-radius: 5px; 
            margin: 0 5px;
        }
        .dropdown-menu {
            width: 300px;
        }
        .dropdown-menu ul li {
            height: 30px;
            line-height: 30px;
        }
        .dropdown-menu li.active a::after {
            display: inline-block;
            content: "";
            background-image: url('/multiple-select/selected-black.svg');
            width: 30px;
            height: 30px;
            position: absolute;
            right: 8px;
            margin-top: 2px;
        }
        
        .btn-success-number {
            background-color: #008F5B !important;
            color: white !important;
        }
        .aviDate-input, 
        .executionDate-input, 
        .uqmDate-input,
        .wptDate-input {
            width: 240px;
        }
    </style>
</head>

<body>
    <div class="container-fluid h-100 p-3 m-0">
        <div class="body-bottom">
            <div class="col-12" id="vehicle-filter">
                <div class="">
                    <div class="row" style="display: flex; margin-left: 1rem; margin-right: 1rem;">
                        <div class="col-12" style="display: flex;">
                            <div class="status-filter-nav filter-item">
                                <div class="status-filter-item active" dataType="vehicle">
                                    <lable style="font-weight:bolder;font-size: large;">Vehicle</lable>
                                </div>
                                <div class="status-filter-item" dataType="driver" style="min-width: 280px;">
                                    <lable style="font-weight:bolder;font-size: large;">Transport Operators</lable>
                                </div>
                            </div>
                            <div class="col-2 filter-item">
                                <input class="form-control execution-date" style="color: black;" placeholder="Execution Date" lay-key="3">
                            </div>
                            <div class="col-2 position-relative filter-item">
                                <input type="text" class="form-control" name="paradeStateStatus" id="paradeStateStatus" placeholder="Status: All" autocomplete="off">
                            </div>
                            <div class="col-2 filter-item">
                                <div class="search-input-div">
                                    <div class="search-img-div"></div>
                                    <input class="search-input" placeholder="Search ...">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-4" style="display: flex; justify-content: flex-end; align-items: center;">
                            <label style="font-size: large;">Last Submitted:</label><label style="font-size: large; margin-left: 5px;" class="lastSubmittedDateLabel"></label>

                            <button class="btn btn-sm" style="margin-left: 20px; border-radius: 10px; border: solid 1px #4EB981; width: 80px; height: 42px;background-color: #4EB981;color: white;font-weight: bold;" onclick="submitStatus()">Submit</button>
                            <button class="btn btn-sm" style="margin-left: 20px; border-radius: 10px; border: solid 1px #4EB981; width: 80px; height: 42px;background-color: #4EB981;color: white;font-weight: bold;" onclick="cancel()">Cancel</button>
                        </div> -->
                    </div>
                    <div class="row" style="margin-left: 1rem; margin-right: 1rem;padding-top:10px;">
                        <div class="table-common table-shadow" style="border-radius: 1em;">
                            <table class="table saf-vehicle-table pb-2 w-100" style="white-space: nowrap;border-collapse:collapse !important;">
                                
                            </table>
                            <table class="table saf-driver-table pb-2 w-100" style="white-space: nowrap; border-collapse:collapse !important;">
                        
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../axios/axios.min.js"></script>
    <script type="text/javascript" src="../moment/moment.min.js"></script>
    <script type="text/javascript" src="../jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../js-cookie/js.cookie.min.js"></script>
    <script type="text/javascript" src="../jquery/jquery.form.min.js"></script>

    <script type="text/javascript" src="../multiple-select/multiple-select.js"></script>
    
    <script type="text/javascript" src="../jquery-confirm/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <script src="../DataTables-bootstrap4/jquery.dataTables.min.js"></script>
    <script src="../DataTables-bootstrap4/dataTables.bootstrap4.min.js"></script>
    
    
    <script type="module" src="../scripts/common-script.js"></script>
    <script type="text/javascript" src="../numeral/numeral.min.js"></script>

    <script type="text/javascript" src="../layui/layui.js"></script>

    <script type="text/javascript" src="../scripts/content.js"></script>
    <script type="text/javascript" src="../pagehelper/pageHelper.js"></script>

    <script type="text/javascript" src="../multiple-select/multiple-select.js"></script>

    <script>
        window.reloadHtml = function () {
            reloadTable();
        }

        var vehicleTable;
        var driverTable;
        var vehicleTableColumnField = ['vehicleNo', 'unit'];
        var driverTableColumnField = ['driverName', 'hub'];
        let paradeStateStatusSelect = null;
        //var lastSubmittedDriverDate = moment().format('YYYY-MM-DD HH:mm:ss');
        //var lastSubmittedVehicleDate = moment().format('YYYY-MM-DD HH:mm:ss');
        $(async function() {

            $('#clearAll').on('click', function () {
                $(".execution-date").val("")

                if(vehicleTable) vehicleTable.ajax.reload(null, false)
                if(driverTable) driverTable.ajax.reload(null, false)
            });

            paradeStateStatusSelect = $("#paradeStateStatus").multipleSelect({
                dataKey: 'id',
                dataName: 'name',
                searchable: false,
                data: [{id: 'Deployable', name: 'Deployable'}, {id: 'Deployed', name: 'Deployed'}, {id: 'Out Of Service', name: 'Out Of Service'},{id: 'Under Maintenance', name: 'Under Maintenance'}, {id: 'On Leave', name: 'On Leave'}],
                selectItemCallback: function () {
                    reloadTable();
                },
                selectAllCallback: function () {
                    reloadTable();
                },
                cleanAllCallback: function () {
                    reloadTable();
                },
            });

            $(".search-input").on("keyup", function() {
                reloadTable();
            });

            layui.use('laydate', function(){
                let laydate = layui.laydate;
                laydate.render({
                    elem: '.execution-date',
                    type: 'date',
                    lang: 'en',
                    trigger: 'click',
                    format: 'yyyy-MM-dd',
                    value: moment().format("YYYY-MM-DD"),
                    btns: ['clear', 'confirm'],
                    done: function () {
                        reloadTable();
                    }
                });
            });

            $(".status-filter-item").on("click", function() {
                $(".search-input").val('');
                $(".status-filter-item").removeClass("active");
                $(this).addClass("active");
                let dataType = $(this).attr('dataType');
                if (dataType == 'vehicle') {
                    $('.saf-vehicle-table').parent().show();
                    $('.saf-driver-table').parent().hide();

                    //$('.lastSubmittedDateLabel').text(lastSubmittedVehicleDate);
                    vehicleTable.ajax.reload(null, true)
                } else {
                    $('.saf-driver-table').parent().show();
                    $('.saf-vehicle-table').parent().hide();

                    //$('.lastSubmittedDateLabel').text(lastSubmittedDriverDate);
                    driverTable.ajax.reload(null, true)
                }
                past = $(this).attr("past");
            });
            
            // await axios.post("/vehicle/getParadeStateSubmitTime", {}).then(async res => {
            //     lastSubmittedVehicleDate = moment(res.data.respMessage.vehicleStateSubmitTime).format('YYYY-MM-DD HH:mm:ss');
            //     lastSubmittedDriverDate = moment(res.data.respMessage.driverStateSubmitTime).format('YYYY-MM-DD HH:mm:ss');
            // });
            
            //$('.lastSubmittedDateLabel').text(lastSubmittedVehicleDate);

            vehicleTable = $('.saf-vehicle-table').on('order.dt', function () {
            }).on('page.dt', function () {
            }).DataTable({
                "searching": false,
                "ordering": true,
                "stateSave": true,
                "paging": true,
                "pageLength": 10,
                "autoWidth": false,
                "fixedHeader": true,
                "scrollCollapse": true,
                "language": PageHelper.language(),
                "lengthMenu": PageHelper.lengthMenu(),
                "dom": PageHelper.dom(),
                "processing": true,
                "serverSide": true,
                "destroy": true,
                "sAjaxDataProp": "respMessage",
                "ajax": {
                    url: "/vehicle/getVehicleTasks",
                    type: "POST",
                    data: function (d) {
                        let params = {};
                        params.start = d.start
                        params.length = d.length
                        let order = d.order;
                        for (let orderField of order) {
                            if (vehicleTableColumnField[orderField.column] == "vehicleNo") {
                                params.vehicleNoOrder = orderField.dir;
                            }
                            if (vehicleTableColumnField[orderField.column] == "unit") {
                                params.hubOrder = orderField.dir;
                            }
                        }
                        let unit = Cookies.get('selectedUnit') ? Cookies.get('selectedUnit') : Cookies.get('hub')
                        let subUnit = Cookies.get('selectedSubUnit') ? Cookies.get('selectedSubUnit') : Cookies.get('node')
                        params.unit = unit
                        params.subUnit = subUnit

                        params.vehicleStatus = paradeStateStatusSelect ? paradeStateStatusSelect.getValue() : '';
                        
                        params.paradeDate = $('.execution-date').val() ? $('.execution-date').val() : null
                        if (!params.paradeDate) {
                            params.paradeDate = moment().format("YYYY-MM-DD");
                        }
                        params.searchParam = $(".search-input").val();

                        return params
                    },
                },
                "initComplete": function (settings, json) {
                    // $(".saf-vehicle-table thead tr th:first").append(`<input type="checkbox" class="checkAll" onchange="checkAllOrNot()" />`);
                    // $(".saf-vehicle-table thead tr th:first").removeClass('sorting_asc');
                },  
                "columns": [
                    // { 
                    //     data: 'vehicleNo',  orderable: false, width: '5%', 
                    //     render: function (data, type, full, meta) {
                    //         $(".checkAll").prop("checked", false);
                    //         return `<input class="checkVehicle" type="checkbox" vehicleLocation="${full.position ? full.position : ''}" value="${data}">`;
                    //     }
                    // },
                    {
                        "data": "vehicleNo", "title": "Vehicle", orderable: true, width: '15%', 
                        "render": function (data, type, full, meta) {
                            return `<span class="vehicleNo-column" style="font-weight: 600;">${data}</span><br/>
                                <span style="color: #6c757d;">${full.vehicleType}</span>
                            `;
                        }
                    },
                    {
                        "class": "text-center", "data": "unit", "title": "Ownership", orderable: true, width: '10%', 
                        "render": function (data, type, full, meta) {
                            return `<div>${full.unit ?? '-'}</div>
                                <div><span style="color: #6c757d; font-size: 0.75rem;">${full.subUnit ?? '-'}</span></div>`
                        }
                    },
                    {
                        "class": "text-center", "data": "hotoUnit", "title": "Current Node", orderable: false, width: '10%', 
                        "render": function (data, type, full, meta) {
                            return `<div>${full.currentUnit ?? '-'}</div>
                                <div><span style="color: #6c757d; font-size: 0.75rem;">${full.currentSubUnit ?? '-'}</span></div>`
                        }
                    },
                    {
                        "data": "nextAviTime", "title": "Next Avi", orderable: false, width: '10%', 
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return moment(data).format("DD MMM YY");
                            }
                            return "-"
                        }
                    },
                    {
                        "data": "nextPmTime", "title": "Next Pm", orderable: false, width: '10%', 
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return moment(data).format("DD MMM YY");
                            }
                            return "-"
                        }
                    },
                    {
                        "data": "nextWpt1Time", "title": "Next Wpt", orderable: false, width: '10%', 
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return moment(data).format("DD MMM YY");
                            }
                            return "-"
                        }
                    },
                    {
                        "data": "indentStartTime", "title": "Upcoming Indent", orderable: false, width: '12%', 
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return `<div>${moment(data).format("DD MMM YY, HH:mm")}</div>
                                <div><span style="color: #6c757d; font-size: 0.75rem;">#${full.indentId}</span></div>`
                            }
                            return "-"
                        }
                    },
                    {
                        "data": "currentStatus",
                        "title": "Current Status",
                        "orderable": false,
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return data;
                            }
                            return "-"
                        }
                    },
                    {
                        "data": "overrideStatus", "title": "Override Status", orderable: false, width: '15%', 
                        render: function (data, type, full, meta) {
                            if (full.currentStatus == 'Deployed') {
                                return data ?? '-';
                            }
                            return `
                                <div class="div-table">
                                    <select class="form-select form-control vehicle_status_select" currentStatus='${data}' onchange="confirmChangeStatus(this, 'vehicle');">
                                        <option value="empty" vehicleNo="${full.vehicleNo}">-</option>  
                                        <option value="Deployed" ${data == 'Deployed' ? ' selected ' : ''} vehicleNo="${full.vehicleNo}">Deployed</option>   
                                        <option value="Deployable" ${data == 'Deployable' ? ' selected ' : ''} vehicleNo="${full.vehicleNo}">Deployable</option>   
                                        <option value="Under Maintenance" ${data == 'Under Maintenance' ? ' selected ' : ''} vehicleNo="${full.vehicleNo}">Under Maintenance</option>   
                                        <option value="Out Of Service" ${data == 'Out Of Service' ? ' selected ' : ''} vehicleNo="${full.vehicleNo}">Out Of Service</option>    
                                    </select>
                                </div>
                            `;
                        }
                    }
                ]
            });
        
            driverTable = $('.saf-driver-table').on('order.dt', function () {
            }).on('page.dt', function () {
            }).DataTable({
                "ordering": true,
                "searching": false,
                "paging": true,
                "pageLength": 10,
                "autoWidth": false,
                "fixedHeader": true,
                "scrollCollapse": true,
                "language": PageHelper.language(),
                "lengthMenu": PageHelper.lengthMenu(),
                "dom": PageHelper.dom(),
                "processing": true,
                "serverSide": true,
                "destroy": true,
                "sAjaxDataProp": "respMessage",
                "ajax": {
                    url: "/driver/getTODriverList",
                    type: "POST",
                    data: function (d) {
                        let params = {};
                        params.start = d.start
                        params.length = d.length
                        let order = d.order;
                        for (let orderField of order) {
                            if(driverTableColumnField[orderField.column] == "driverName") {
                                params.driverNameOrder = orderField.dir;
                            }
                            if(driverTableColumnField[orderField.column] == "hub") {
                                params.hubOrder = orderField.dir;
                            }
                        }

                        let unit = Cookies.get('selectedUnit') ? Cookies.get('selectedUnit') : Cookies.get('hub')
                        let subUnit = Cookies.get('selectedSubUnit') ? Cookies.get('selectedSubUnit') : Cookies.get('node')
                        params.unit = unit
                        params.subUnit = subUnit

                        params.driverStatus = paradeStateStatusSelect ? paradeStateStatusSelect.getValue() : '';

                        params.paradeDate = $('.execution-date').val() ? $('.execution-date').val() : null
                        if (!params.paradeDate) {
                            params.paradeDate = moment().format("YYYY-MM-DD");
                        }
                        params.searchCondition = $(".search-input").val();
                        params.driverORDStatus = "effective";

                        return params
                    },
                },
                "initComplete" : function (settings, json) {
                    // row margin-top: fill by div height;
                    // $('.saf-driver-table tbody tr').before('<div style="width: 100%;height: 10px;"/>');
                    $(".saf-driver-table thead tr th:first").removeClass('sorting_asc');
                },
                "columns": [
                    // {
                    //     "data": null, 
                    //     "title": "S/N", 
                    //     "orderable": false,
                    //     "render": function (data, type, full, meta) {
                    //         return `
                    //             <input class="show-live-location" type="checkbox" data-driverid="${ full.driverId }">
                    //         `
                    //     }
                    // },
                    {
                        "data": "driverName",
                        "title": "Name",
                        "render": function (data, type, full, meta) {
                            return `
                                <div class="view-driver-info">${ full.driverName }</div>
                                <div><span style="color: #6c757d;">${ full.nric ? full.nric : '-' }</span></div>
                            `
                        }
                    },
                    {
                        "data": "unit",
                        "class": "text-center",
                        "title": "Ownership",
                        "render": function (data, type, full, meta) {
                            return `
                                <div>${ full.unit ?? '-'  }</div>
                                <div><span style="color: #6c757d;">${ full.subUnit ?? '-' }</span></div>
                            `
                        }
                    },
                    {
                        "class": "text-center", "data": "currentUnit", "title": "Current Node", orderable: false, width: '10%', 
                        "render": function (data, type, full, meta) {
                            return `<div>${full.currentUnit ?? '-'}</div>
                                <div><span style="color: #6c757d; font-size: 0.75rem;">${full.currentSubUnit ?? '-'}</span></div>`
                        }
                    },
                    {
                        "data": "totalMileage", 
                        "title": "Mileage",
                        "orderable": false,
                        render: function (data) {
                            return numeral(data).format('0,0')
                        }
                    },
                    {
                        "data": "permitType", 
                        "title": "Class",
                        "orderable": false,
                        render: function (data) {
                            if (data) {
                                let permitList = data.split(',');
                                if (permitList.length > 10) {
                                    return `${ permitList.slice(0, 5) },<br>${ permitList.slice(5, 10) },<br>${ permitList.slice(10) }`
                                } else if (permitList.length > 5) {
                                    return `${ permitList.slice(0, 5) },<br>${ permitList.slice(5) }`
                                } else {
                                    return data
                                }
                            } else {
                                return '-';
                            }
                        }
                    },
                    {
                        "data": "indentId",
                        "title": "Upcoming Indent",
                        "orderable": false,
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return `
                                    <div>${moment(full.indentStartTime).format("DD MMM YY, HH:mm")}</div>
                                    <div style="font-color: #F3F3F3;">#${ full.indentId }</div>
                                `
                            }
                            return "-"
                        }
                    },
                    {
                        "data": "currentStatus",
                        "title": "Current Status",
                        "orderable": false,
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return data;
                            }
                            return "-"
                        }
                    },
                    {
                        "data": "overrideStatus", 
                        "title": "Override Status",
                        "class": "text-center", 
                        "orderable": false,
                        "width": '15%', 
                        "render": function (data, type, full, meta) {
                            if (full.currentStatus == 'Deployed') {
                                return data ?? '-';
                            }
                            return `
                                <div class="div-table">
                                    <select class="form-select form-control driver_status_select" currentStatus='${data}' onchange="confirmChangeStatus(this, 'driver');">
                                        <option value="empty" driverId="${full.driverId}">-</option>   
                                        <option value="Deployed" ${data == 'Deployed' ? ' selected ' : ''} driverId="${full.driverId}">Deployed</option>   
                                        <option value="Deployable" ${data == 'Deployable' ? ' selected ' : ''} driverId="${full.driverId}">Deployable</option>   
                                        <option value="On Leave" ${data == 'On Leave' ? ' selected ' : ''} driverId="${full.driverId}">On Leave</option>  
                                    </select>
                                </div>
                            `;
                        }
                    }
                ]
            });
        
            $('.saf-driver-table').parent().hide();
        });

        // const cancel = function() {
        //     let currentDataType = $(".status-filter-item.active").attr('dataType');
        //     if (currentDataType == 'vehicle') {
        //         vehicleTable.ajax.reload(null, false)
        //     } else {
        //         driverTable.ajax.reload(null, false)
        //     }
        // }

        const confirmChangeStatus = async function(ele, dataType) {
            let selectedOpt = $(ele).find('option:selected');
            let value = selectedOpt.val();
            let businessId = dataType == 'vehicle' ? selectedOpt.attr('vehicleNo') : selectedOpt.attr('driverId');

            let oldStatus = $(ele).attr("currentStatus");
            if (value =='empty') {
                vehicleTable.ajax.reload(null, false)
                return;
            }

            $.confirm({
                title: 'Confirm Modify Status',
                content: `Are you sure to modify ${dataType} status:` + businessId,
                buttons: {
                    confirm: function () {
                        $(ele).attr("currentStatus", value);
                        submitStatus(dataType, businessId, value);
                    },
                    cancel: function () {
                        vehicleTable.ajax.reload(null, false)
                    }
                }
            });
        }

        const submitStatus = async function(dataType, businessId, newStatus) {
            if (dataType == 'vehicle') {
                let vehicleStatusArray = [];
                if(newStatus && newStatus != '-') {
                    vehicleStatusArray.push({vehicleNo: businessId, overrideStatus: newStatus});
                }
                if (vehicleStatusArray.length > 0) {
                    await axios.post("/vehicle/updateVehicleStatus", {newStatus: vehicleStatusArray }).then(async res => {
                        if (res.respCode == 1) {
                            //lastSubmittedVehicleDate = moment().format('YYYY-MM-DD HH:mm:ss');
                            //$('.lastSubmittedDateLabel').text(lastSubmittedVehicleDate);

                            vehicleTable.ajax.reload(null, false)
                        } else {
                            $.confirm({
                                title: 'Modify Status Error',
                                content: res.respMessage,
                                buttons: {
                                    cancel: function () {
                                        vehicleTable.ajax.reload(null, false)
                                    }
                                }
                            });
                        }
                    });
                }
            } else {
                let driverStatusArray = [];
                if(newStatus && newStatus != '-') {
                    driverStatusArray.push({driverId: businessId, overrideStatus: newStatus});
                }
                if (driverStatusArray.length > 0) {
                    await axios.post("/driver/updateDriverStatus", {newStatus: driverStatusArray }).then(async res => {
                        if (res.respCode == 1) {
                            //lastSubmittedDriverDate = moment().format('YYYY-MM-DD HH:mm:ss');
                            //$('.lastSubmittedDateLabel').text(lastSubmittedDriverDate);

                            driverTable.ajax.reload(null, false)
                        } else {
                            $.confirm({
                                title: 'Modify Status Error',
                                content: res.respMessage,
                                buttons: {
                                    cancel: function () {
                                        driverTable.ajax.reload(null, false)
                                    }
                                }
                            });
                        }
                    });
                }
            }
        }

        const reloadTable = async function() {
            let currentDataType = $(".status-filter-item.active").attr('dataType');
            if (currentDataType == 'vehicle') {
                vehicleTable.ajax.reload(null, true)
            } else {
                driverTable.ajax.reload(null, true)
            }
        }
    </script>
</body>

</html>