<!doctype html>
<meta charset="UTF-8">
<title>Resources</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" src="../axios/axios.min.js"></script>
<script type="text/javascript" src="../moment/moment.min.js"></script>
<script type="text/javascript" src="../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../js-cookie/js.cookie.min.js"></script>
<script type="text/javascript" src="../jquery/jquery.form.min.js"></script>
<script type="text/javascript" src="../socket.io/socket.io.min.js"></script>
<script type="text/javascript" src="../numeral/numeral.min.js"></script>

<script type="text/javascript" src="../jquery-confirm/jquery-confirm.min.js"></script>
<link rel="stylesheet" href="../jquery-confirm/jquery-confirm.min.css">

<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../bootstrap-table/bootstrap-table.min.css">
<script type="text/javascript" src="../bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../bootstrap-table/bootstrap-table.min.js"></script>

<script type="text/javascript" src="../DataTables-1.10.21/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../DataTables-1.10.21/css/jquery.dataTables.min.css" media="all">

<link rel="stylesheet" href="../transfer/transfer.css">
<script type="text/javascript" src="../transfer/transfer.js"></script>

<!-- <link rel="stylesheet" href="../leaflet/dist/leaflet.css">
<link rel="stylesheet" href="../leaflet-contextmenu/dist/leaflet.contextmenu.min.css">
<script type="text/javascript" src="../leaflet/dist/leaflet.js"></script>
<script type="text/javascript" src="../leaflet-contextmenu/dist/leaflet.contextmenu.min.js"></script>
<script type="text/javascript" src="../MovingMarker.js"></script> -->

<link rel="stylesheet" href="../css/common-style.css">
<link rel="stylesheet" href="../css/common-bootstrap.css">
<link rel="stylesheet" href="../css/common-datatables.css">

<script type="text/javascript" src="../lodash/lodash.min.js"></script>

<link rel="stylesheet" href="../layui/css/layui.css">
<script type="text/javascript" src="../layui/layui.js"></script>

<script src="../scripts/resources/resources.js"></script>

<!-- <script src="../scripts/indent/overview.js"></script> -->
<style>
	body {
		overflow: hidden;
	}

	.container-fluid {
		background-color: white;
	}

	.container-fluid .tab-label {
		font-weight: 600;
		font-size: 20px;
		line-height: 40px;
		cursor: pointer;
		color: #9f9f9f;
	}
	.container-fluid .tab-label.active {
		color: black;
		border-bottom: 5px solid #1B9063;
	}
	.view-calender {
		line-height: 20px;
		border-radius: 18px;
		background-color: #1B9063;
		color: white;
		font-size: 15px;
		height: 35px;
		cursor: pointer;
	}
	.view-calender img {
		width: 20px; 
		margin-top: -5px; 
		margin-right: 10px;
		cursor: pointer;
	}
</style>

<div class="container-fluid" style="min-height: 80px;">
	<div class="row" style="display: flex; align-items: center;">
		<div class="col-4">
			<label class="mx-3 title-label" style="font-size: 30px; font-weight: bolder; line-height: 40px;">Resources</label>
		</div>
		<div class="col-8" style="display: flex; justify-content: flex-end;">
			<div class="col-auto div-hub-node" style="padding-top: 5px;">
				<div class="row">
					<div class="col-auto hubNode-btn">
						<select class="form-select " id="select-hub">
						</select>
					</div>
					<div class="col-auto hubNode-btn">
						<select class="form-select " id="select-node">
							<option value="">Node: All</option>
						</select>
					</div>
					<div class="customer-button col-auto select-group" style="display: none; line-height: 35px;;">
						<input class="form-check-input" style="margin-top: 12px; margin-right: 5px; cursor: pointer;" type="checkbox" value="" id="select-customer">
						<label class="form-check-label" style="font-weight: bold;" for="select-customer">
							Customer
						</label>
	
					</div>
					<div class="col-auto mx-0 px-0" style="line-height: 35px;">
						<select class="form-select " style="display: none;" id="select-group">
							<option value="">Group: All</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-auto license-logout" style="position: absolute; right: 2.2rem; display: none;">
				<img alt="" src="./images/index/logout.png" class="img-responsive" style="width: 30px; padding-top: 3px;">
			</div>
		</div>
	</div>
	<div class="row m-0 resource-menu" style="text-align: center;">
		<% if (pageList.find(item => item.page == 'Overview')) { %>
			<div class="col-auto px-0 userType-common"> 
				<div class="tab-label px-3 user-select-none" data-tab="1">
					Overview
				</div>
			</div>
		<% } %>
		<% if (pageList.find(item => item.page == 'Vehicle List')) { %>
		<div class="col-auto px-0 userType-common"> 
			<div class="tab-label px-3 user-select-none" data-tab="2">
				Military Vehicle
			</div>
		</div>
		<% } %>
		<% if (pageList.find(item => item.page == 'TO List')) { %>
		<div class="col-auto px-0 ">
			<div class="tab-label px-3 user-select-none TO-div" data-tab="3">
				Transport Operators
			</div>
		</div>
		<% } %>
		<% if (pageList.find(item => item.page == 'Licensing')) { %>
		<div class="col-auto px-0 resources-licensing">
			<div class="tab-label px-3 user-select-none" data-tab="5">
				Licensing
			</div>
		</div>
		<% } %>
		<% if (pageList.find(item => item.page == 'Vehicle Type')) { %>
			<div class="col-auto px-0 resources-vehicleType">
				<div class="tab-label px-3 user-select-none" data-tab="7">
					Manage Vehicle Type
				</div>
			</div>
			<% } %>
		<% if (pageList.find(item => item.page == 'Parade State')) { %>
		<div class="col-auto px-0 userType-common" style="display: none;">
			<div class="tab-label px-3 user-select-none" data-tab="4">
				Parade State
			</div>
		</div>
		
		<% } %>
		<!-- <div class="col-auto px-0">
			<div class="tab-label px-4 user-select-none" data-tab="4">
				Indent Assigned
			</div>
		</div> -->
		<div class="col-auto ms-auto ">
			<% if (pageList.find(item => item.page == 'View Calender')) { %>
			<div class="action-button view-calender user-select-none py-2 px-4" data-action="task" style="display: none;"><img alt="" src="../scripts/driverTo/icons/calender.svg">Calender View</div>
			<% } %>
		</div>
		<!-- <div class="col-auto select-hub">
			<select class="form-select" id="select-hub">
				<option value="">Hub: All</option>
			</select>
		</div>

		<div class="col-auto select-node">
			<select class="form-select" id="select-node">
				<option value="">Node: All</option>
			</select>
		</div> -->
	</div>
	
</div>
<!-- <div class="row m-0" style="height: 5px; background-color: white;"></div> -->
<!-- <div style="height: calc(100% - 125px); background-color: red;"></div> -->
<iframe id="resource-iframe" style="height: calc(100% - 150px); overflow: auto;" src="./indent/overview" title=""></iframe>

<div class="modal fade" id="loadingModal" style="z-index: 5000;" tabindex="-1" data-bs-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" style="width: 350px;">
        <div class="modal-content">
            <div class="d-flex align-items-center shadow-lg px-4 py-2 rounded">
                <h5 style="line-height: 2; margin-bottom: 0;">Loading...</h5>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
        </div>
    </div>
</div>