<%- include('../common/common-html-base.html') -%>
    <title>Report Creator</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../jquery-confirm/jquery-confirm.min.css">
    <link rel="stylesheet" href="../scripts/reportCreator/drag-arrange.css">
    <link rel="stylesheet" href="../multiple-select/multiple-select.css">
    <link rel="stylesheet" href="../scripts/reportCreator/reportCreator.css">

    <script type="text/javascript" src="../layui/layui.js"></script>
    <script type="text/javascript" src="../jquery-confirm/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="../scripts/reportCreator/drag-arrange.js"></script>
    <script type="text/javascript" src="../scripts/reportCreator/telematics.js"></script>
    <script type="text/javascript" src="../multiple-select/multiple-select.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .form-check {
            line-height: 2.3rem;
        }
        .form-check-input {
            width: 1.3rem;
            height: 1.3rem;
        }
        .form-check-label {
            padding-left: 0.3rem;
        }
    </style>
    <body style="background-color: white !important;">
        <div class="container-full report-form">
            <div class="row">
                <div class="col-6 mt-3">
                    <div><label class="label-1">Report Data Group Selection</label></div>
                    <div><label class="label-2">Choose the data to be included in the report</label></div>
                </div>
                <div class="col-6 mt-3">
                    <div><label class="label-1">Selected Data Group</label></div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-5">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="select-all-checkbox">
                                <label class="form-check-label fw-bold" for="select-all-checkbox">Select All</label>
                            </div>
                        </div>
                    </div>
                    <div class="row report-data-group">
                        <div class="col-5">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Type of ARB"
                                    name="violationType" id="violationType-checkbox">
                                <label class="form-check-label" for="violationType-checkbox">Type of ARB</label>
                            </div>
                            
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Vehicle No" name="vehicleNo"
                                    id="vehicleNo-checkbox">
                                <label class="form-check-label" for="vehicleNo-checkbox">Vehicle No</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Vehicle Type" name="vehicleType"
                                    id="vehicleType-checkbox">
                                <label class="form-check-label" for="vehicleType-checkbox">Vehicle Type</label>
                            </div>
                            
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Occurrence Date & Time" name="occTime"
                                    id="occTime-checkbox">
                                <label class="form-check-label" for="occTime-checkbox">Occurrence Date & Time</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Highest Speed" name="speed"
                                    id="speed-checkbox">
                                <label class="form-check-label" for="speed-checkbox">Highest Speed</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Telematics Device" name="dataFrom"
                                    id="dataFrom-checkbox" checked="checked" disabled>
                                <label class="form-check-label" for="dataFrom-checkbox">Telematics Device</label>
                            </div>
                            
                            
                        </div>
                        <div class="col-5">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Hub/Node" name="hubNode"
                                    id="hub-checkbox">
                                <label class="form-check-label" for="hub-checkbox">Hub/Node</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Driver Name" name="driverName"
                                    id="driverName-checkbox">
                                <label class="form-check-label" for="driverName-checkbox">Driver Name</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Task ID" name="taskId"
                                    id="taskId-checkbox">
                                <label class="form-check-label" for="taskId-checkbox">Task ID</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Duration" name="duration"
                                    id="duration-checkbox">
                                <label class="form-check-label" for="duration-checkbox">Duration</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Diff in speed" name="diff"
                                    id="diff-checkbox">
                                <label class="form-check-label" for="diff-checkbox">Diff in speed</label>
                            </div>
                            
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Location Data" name="location"
                                id="location-checkbox">
                                <label class="form-check-label" for="location-checkbox">Location Data</label>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-2 row div-report-group-list">
                        <ul class="drag-list">
                            <li data-val="Telematics Device" data-name="dataFrom">
                                <div class="row justify-content-center">
                                    <div class="col-2">
                                        <span class="drag-area"></span>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" readonly value="Telematics Device">
                                    </div>
                                    <div class="col-1">
                                        <!-- <button type="button" class="btn btn-sm custom-btn btn-primary" style="width: 30px;" onclick="removeReportDataGroup(this)">-</button> -->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3">
                    <div><label class="label-1">Report Data Filter</label></div>
                </div>
                <div class="row mt-3 div-report-data-filter">
    
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button class="btn custom-btn-gray modal-footer-bunton-cancel-bg ms-3" onclick="window.location.reload()">Reset</button>
                    <button class="btn btn-success modal-footer-bunton-confirm-bg" id="task-report-create">Create</button>
                </div>
            </div>
        </div>
    </body>

    <script type="text/html" id="taskTypeHtml">
        <div class="mb-2 col-4" data-filter="taskType">
            <div class="row">
                <label class="col-4 col-form-label p-0 custom-line">Task Type</label>
                <div class="col-8">
                    <select class="form-select" id="taskTypeFilter">
                        <option value="">All</option>
                        <option value="MT-Admin">MT-Admin</option>
                        <option value="ATMS">ATMS</option>
                        <option value="Sys Task">Sys Task</option>
                        <option value="Mobile">Mobile</option>
                        <option value="Urgent Indent">Urgent Indent</option>
                    </select>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="hubNodeHtml">
        <div class="mb-2 col-4" data-filter="hubNode">
            <div class="row">
                <label class="col-4 col-form-label p-0 custom-line">Hub</label>
                <!-- <div class="col-8 position-relative">
                    <input type="text" class="form-control" id="hubNodeFilter" autocomplete="off">
                </div> -->
                <div class="col-8">
                    <select class="form-select" id="hubFilter" onchange="changeHub()">
                        <option value="">All</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mb-2 col-4" data-filter="hubNode">
            <div class="row">
                <label class="col-4 col-form-label p-0 custom-line">Node</label>
                <!-- <div class="col-8 position-relative">
                    <input type="text" class="form-control" id="hubNodeFilter" autocomplete="off">
                </div> -->
                <div class="col-8">
                    <select class="form-select" id="nodeFilter">
                        <option value="">All</option>
                    </select>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="taskIDHtml">
        <div class="mb-2 col-4" data-filter="taskId">
            <div class="row">
                <label class="col-4 col-form-label p-0 custom-line">Task ID</label>
                <div class="col-8">
                    <input type="text" class="form-control" value="" id="taskIdFilter">
                </div>
            </div>
        </div>
    </script>
    <!-- <script type="text/html" id="transmittedDateHtml">
        <div class="mb-2 col-4" data-filter="transmittedDate">
            <div class="row">
                <label class="col-4 col-form-label p-0 custom-line">Last Transmitted Date</label>
                <div class="col-8">
                    <input type="number" onblur="checkTransmittedDate(this)" min="0" class="form-control" value="" id="transmittedDateFilter">
                </div>
            </div>
        </div>
    </script> -->
    <script type="text/html" id="vehicleHtml">
        <div class="mb-2 col-4" data-filter="vehicle">
            <div class="row">
                <label class="col-4 col-form-label p-0 custom-line">Vehicle Number</label>
                <div class="col-8">
                    <input type="text" class="form-control" value="" id="vehicleNumberFilter">
                </div>
            </div>
        </div>
        <div class="mb-2 col-4" data-filter="vehicle">
            <div class="row">
                <label class="col-4 col-form-label p-0 custom-line">Vehicle Type</label>
                <div class="col-8">
                    <!-- <input type="text" class="form-control" value="" id="vehicleTypeFilter"> -->
                    <select class="form-select" id="vehicleTypeFilter">
                        <option value="">All</option>
                    </select>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="driverHtml">
        <div class="mb-2 col-4" data-filter="driver">
            <div class="row">
                <label class="col-4 col-form-label p-0 custom-line">Driver Name</label>
                <div class="col-8">
                    <input type="text" class="form-control" value="" id="driverNameFilter">
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="violationTypeHtml">
        <div class="mb-2 col-4" data-filter="violationType">
            <div class="row">
                <label class="col-4 col-form-label p-0 custom-line">Type of ARB</label>
                <div class="col-8">
                    <select class="form-select" id="violationTypeFilter">
                        <option value="">All</option>
                        <option value="Speeding">Speeding</option>
                        <option value="Hard Braking">Hard Braking</option>
                        <option value="Rapid Acc">Rapid Acc</option>
                        <option value="Missing">Missing</option>
                    </select>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="dataFromHtml">
        <div class="mb-2 col-4" data-filter="dataFrom">
            <div class="row">
                <label class="col-4 col-form-label p-0 custom-line">Telematics Device</label>
                <div class="col-8">
                    <select class="form-select" id="dataFromFilter">
                        <option value="">All</option>
                        <option value="MOBILE">MOBILE</option>
                        <option value="OBD">OBD</option>
                    </select>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="occTimeRangeHtml">
        <div class="mb-2 col-12" data-filter="occTimeRange">
            <div class="row">
                <label class="col-sm-3 col-form-label p-0 custom-line">Occurrence Date Range & Time</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control" value="" id="occTimeRange">
                </div>
            </div>
        </div>
    </script>
