body,
html {
    height: 100%;
}

.body-top {
    height: 80px;
    background-color: white;
}

.body-bottom {
    background-color: #F3F3F3;
    height: fit-content;
}

.new-indent-btn {
    width: 180px;
    height: 40px;
    border-radius: 20px;
}

.indents-title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
}

.nav-link {
    color: #204B4D;
    font-weight: 500;
    font-size: 16px;
    padding: 0.2rem 0rem;
}

.nav-item>.active {
    border-bottom: 4px solid #308860 !important;
}

.nav-item {
    display: flex;
    padding: 0rem 1rem;
}

.bg-transparent {
    --bs-bg-opacity: 1;
    background-color: transparent;
    border: 1px solid #DEDEDE;
    border-radius: 0.55rem;
    color: #7D7D7D;
    margin-left: 0.5rem;
    height: 24px;
}

#indent-filter .form-select {
    background-color: #F9EED8 !important;
    border: 1px solid #EBDE99 !important;
}

#indent-filter .form-control {
    background-color: #F9EED8 !important;
    border: 1px solid #EBDE99 !important;
}

.btn-clear {
    color: #7D7D7D;
    font-weight: 400;
}

.btn-circle {
    width: 35px;
    height: 35px;
    border-radius: 35px;
}

.btn-circle.active {
    background-color: #308860;
}

.container-svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    border-collapse: inherit !important;
    margin-top: 0;
    margin-bottom: 0;
}

.rsp-select,
.status-select {
    font-size: 14px;
    width: auto;
}

.form-check {
    min-height: 0px !important;
}

.indent-status {
    height: 26px;
    line-height: 26px;
    border-radius: 13px;
    width: fit-content;
    border: 1px solid #DCDCDC;
    color: #fff;
    padding: 0 1rem;
}

.color-warning {
    color: red;
}

.table .icon-arrow::before {
    font-size: 14px !important;
}

/* .table>:not(:first-child) {
    border-top: 0px solid currentColor;
}

table tbody {
    display: block;
    max-height: 676px;
    overflow-y: scroll;
}

table thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table thead {
    width: calc(100% - 1em)
} */

td.details-control {
    background: url('/images/indent/expand.svg') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('/images/indent/collapse.svg') no-repeat center center;
}


.color-approved {
    color: #007C5C
}

.color-waiting-approve {
    color: #6200FD
}

.color-cancelled {
    color: #7D7D7D
}

.color-rejected {
    color: #D400F8
}

.color-waiting-cancellation {
    color: #C96F10
}

.color-pickup-destination {
    color: #2325AC
}

.icon-down-div {
    height: 18px !important;
    line-height: 6px !important;
}

.color-dropoff-destination {
    height: 10px !important;
    line-height: 6px !important;
    color: #289D04
}

.laydate-time-list ol li {
    width: 100% !important;
    padding-left: 0px !important;
    text-align: center !important;
}

.search-select, .unit-search-select {
    position: absolute;
    z-index: 999;
    display: none;
    background-color: #fff;
    border: 1px solid #ced4da;
}

.search-select input {
    border-radius: 0rem;
}

.form-search-select {
    width: 100%;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;
    max-height: 200px;
    overflow-y: auto;
}

.form-search-select li {
    padding: 0 10px;
}

.form-search-select li:hover {
    background-color: #1E90FF;
    color: white;
}

.indent-table tbody tr.odd,
.indent-table tbody tr.even {
    background: #D4E9E9;
    border-color: #fff;
}

.indent-table tbody tr.odd td,
.indent-table tbody tr.even td {
    border-bottom-width: 1px !important;
}

.indent-table tbody tr td {
    padding: 8px 0px;
    border-bottom-width: 0px;
}

.indent-table tbody tr th {
    padding: 8px 0px;
}

.indent-table tbody tr.odd td:nth-child(1),
.indent-table tbody tr.even td:nth-child(1),
.table-details tr td:nth-child(1) {
    padding-left: 15px;
}

.table-details tbody tr td {
    border-bottom-width: 1px !important;
}

.table-details thead tr,
.table-details tbody tr {
    background: #fff;
    border-color: #eee;
}

td.firstCol {
    border-top-left-radius: 10px;
    width: 2% !important;
    text-align: center;
}

td.details-control {
    width: 1% !important;
}

td.indentIdCol {
    width: 7% !important;
}

td.purposeCol {
    width: 70% !important;
}

td.lastCol {
    border-top-right-radius: 10px;
    width: 5% !important;
}
td.lastCol>button {
    width: max-content;
}

.table-common {
    padding: 0 !important;
}

table.dataTable {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.btn-action {
    padding: 5px 12px;
    box-shadow: 0px 0px 4px rgb(185 177 177);
}

.input-width {
    width: 140px;
}
.laydate-time-list>li:last-child {
    display: none;
}
.laydate-time-list>li{
    width: 50% !important;
}

.taskStatusWidth {
    width: 80px;
}

.action-width {
    width: 130px !important;
}

.pending-action-background {
    background-color:#eee9e9 !important;
}