<%- include('common/common-html.html') -%>

<script type="module">
    import { initializeApp } from './firebase/firebase-app.js'
    import { getMessaging, getToken } from './firebase/firebase-messaging.js'
    import { getAnalytics } from './firebase/firebase-analytics.js'
    $(() => {

        const firebaseConfig = {
            apiKey: "AIzaSyDb-PuK9Zd1KN58n6sE77NQ01pJcGaazh4",
            authDomain: "genuine-segment-362823.firebaseapp.com",
            projectId: "genuine-segment-362823",
            storageBucket: "genuine-segment-362823.appspot.com",
            messagingSenderId: "215535108956",
            appId: "1:215535108956:web:e5d4c94fdd12c64cc4f799",
            measurementId: "G-D2R8D784CK"
        };
        
        const app = initializeApp(firebaseConfig);
        // // Initialize Firebase Cloud Messaging and get a reference to the service
        // const messaging = getMessaging(app);

        // // const analytics = getAnalytics(app);

        const messaging = getMessaging(app);
        getToken(messaging, { vapidKey: "BGlHHm5bF8_laKie5riglHI7uMTRUzMzflvCHc5L5BT4q8xunOqiycmytOmK3N6H6Iwh2wcFsz-zhHZUs4AHOeY" })
        .then(currentToken => {
            if (currentToken) {
                // Send the token to your server and update the UI if necessary
                // ...
            } else {
                // Show permission request UI
                console.log('No registration token available. Request permission to generate one.');
                // ...
            }
        })
    })
</script>