<style>
    .menu2 {
        background-color: #003333;
        width: 90px;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: 9;
        transition-property: width;
        transition-duration: .25s;
        overflow-y: auto;
    }
    .menu2.expand {
        width: 300px;
    }
    .menu2 .menu2-item {
        /* text-align: center; */
        cursor: pointer;
        padding: 12px 30px 12px 30px;
    }
    .menu2 .menu2-item2 {
        cursor: pointer;
        padding: 6px 30px 6px 30px;
        font-size: small;
    }
    .menu2 .menu2-item:hover, .menu2 .menu2-item2:hover {
        background-color: #036D46;
    }
    .menu-selected {
        background-color: #036D46;
    }
    .menu2 .menu2-label, .menu2 .menu2-img {
        color: white;
        cursor: pointer;
        user-select: none;
        display: none;
    }
    .menu2 img {
        width: 25px;
        height: 25px;
    }
    .menu2 .item-notice .notice-count {
        opacity: 1; 
        z-index: auto; 
        border: 2px solid #EF4746;
        background: #BF1E2E;
        width: 18px;
        height: 18px;
        border-radius: 10px;
        position: relative;
        top: -35px !important;
        left: 15px;
        color: #fff;
        text-align: center;
        line-height: 13px;
        /* display: none; */
    }

    .diamond-div {
        width: 6px;
        height: 6px;
        background-color: #00ff96;
        transform: rotate(45deg);
        margin-top: 11px;
    }
</style>
<script type="module" src="../scripts/menu/menu.js"></script>
<div class="menu2 py-2">
    <div class="my-3 container " style="padding-left: 18px; padding-right: 18px;">
        <div class="row p-0 m-0">
            <div class="col p-0" style="height: 70px;">
                <img alt="" class="main-menu" style="width: 70px; height: 70px; position: absolute; margin: 0 auto; left: 0; right: 0; cursor: pointer;" src="./images/login/green-logo.svg">
            </div>
        </div>
    </div>
    <div class="menu2-item item-notice" data-action="menu-notice">
        <div class="row p-0 m-0" style="min-width: 30px;">
            <div class="col-auto p-0" style="border-radius: 15px; background-color: #036D46; width: 30px; height: 30px;">
                <img alt="" style="width: 20px; height: 20px; margin-left: 5px;;" src="./images/menu/notice.svg">
                <div class="notice-count" style="display: none;" id="notification-count"></div>
            </div>
        </div>
    </div>
    <% if (pageList.find(item => ['MV Dashboard', 'Task Dashboard', 'Dashboard', 'Resources Dashboard', 'Resources Dashboard2'].includes(item.module))) { %>
    <div class="menu2-item item-dashboard" data-bs-toggle="collapse" href="#dashboard-collapse" role="button" tabindex="0" aria-expanded="false" aria-controls="dashboard-collapse">
        <div class="row p-0 m-0">
            <div class="col-auto p-0">
                <img alt="" class="menu-img" src="./images/menu/Dashboard.svg">
            </div>
            <div class="col-auto p-0">
                <label class="menu2-label ms-3">Dashboard</label>
            </div>
            <div class="col align-self-end p-0">
                <img alt="" class="menu2-img" style="width: 15px; float: right; margin-bottom: 2px;" src="./images/menu/arrow down.svg">
            </div>
        </div>
    </div>
        <div class="collapse" id="dashboard-collapse" style="background-color: #002121;">
            <% if (pageList.find(item => item.module == 'MV Dashboard')) { %>
            <div class="menu2-item2 app-mvDashboardTask" data-action="app-mvDashboardTask">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">MV Dashboard</label>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (pageList.find(item => item.module == 'Task Dashboard')) { %>
            <div class="menu2-item2" data-action="app-taskDashboard">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">Task Dashboard</label>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (pageList.find(item => item.module == 'Resources' && item.page == 'Overview' )) { %>
            <div class="resource-dashboard invisible"></div>
            <% } %>
            <% if (pageList.find(item => item.module == 'Dashboard')) { %>
                <div class="menu2-item2 app-mvDashboard" data-action="app-mvDashboard">
                    <div class="row p-0 m-0">
                        <div class="col-auto px-3">
                            <div class="diamond-div"></div>
                        </div>
                        <div class="col-auto p-0">
                            <label class="menu2-label">Dashboard</label>
                        </div>
                    </div>
                </div>
            <% } %>
            <% if (pageList.find(item => item.module == 'OPS Summary')) { %>
                <div class="menu2-item2" data-action="app-dashboardCategory">
                    <div class="row p-0 m-0">
                        <div class="col-auto px-3">
                            <div class="diamond-div"></div>
                        </div>
                        <div class="col-auto p-0">
                            <label class="menu2-label">OPS Summary</label>
                        </div>
                    </div>
                </div>
            <% } %>
            <% if (pageList.find(item => item.module == 'Resources Dashboard')) { %>
            <div class="menu2-item2" data-action="app-resourcesDashboard">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">Resources Dashboard</label>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (pageList.find(item => item.module == 'Resources Dashboard2')) { %>
            <div class="menu2-item2" data-action="app-resourcesDashboard2">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">Resources Dashboard2</label>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    <% } %>
    <% if (pageList.find(item => [ 'User Management', 'Role Management' ].includes(item.module))) { %>
    <div class="menu2-item item-user" data-bs-toggle="collapse" href="#user-collapse" role="button" tabindex="0" aria-expanded="false" aria-controls="user-collapse">
        <div class="row p-0 m-0">
            <div class="col-auto p-0">
                <img alt="" class="menu-img" src="./images/menu/a.svg">
            </div>
            <div class="col-auto p-0">
                <label class="menu2-label ms-3">User Management</label>
            </div>
            <div class="col align-self-end p-0">
                <img alt="" class="menu2-img" style="width: 15px; float: right; margin-bottom: 2px;" src="./images/menu/arrow down.svg">
            </div>
        </div>
    </div>
        <div class="collapse" id="user-collapse" style="background-color: #002121;">
            <% if (pageList.find(item => item.module == 'User Management' && ['View User'].includes(item.page))) { %>
            <div class="menu2-item2" data-action="user-view">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">Manage User</label>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (pageList.find(item => item.module == 'User Management' && ['View Mobile User'].includes(item.page))) { %>
                <div class="menu2-item2" data-action="mobileUser-view">
                    <div class="row p-0 m-0">
                        <div class="col-auto px-3">
                            <div class="diamond-div"></div>
                        </div>
                        <div class="col-auto p-0">
                            <label class="menu2-label">Manage Mobile User</label>
                        </div>
                    </div>
                </div>
                <% } %>
            <% if (pageList.find(item => item.module == 'Role Management')) { %>
            <div class="menu2-item2" data-action="app-role">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">Manage Role</label>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    <% } %>
    <% if (pageList.find(item => [ 'Task Assign', 'MT-Admin', 'Urgent Duty' ].includes(item.module))) { %>
    <div class="menu2-item item-task" data-bs-toggle="collapse" href="#task-collapse" role="button" tabindex="0" aria-expanded="false" aria-controls="task-collapse">
        <div class="row p-0 m-0">
            <div class="col-auto p-0">
                <img alt="" class="menu-img" src="./images/menu/Task Assign.svg">
            </div>
            <div class="col-auto p-0">
                <label class="menu2-label ms-3">Task Management</label>
            </div>
            <div class="col align-self-end p-0">
                <img alt="" class="menu2-img" style="width: 15px; float: right; margin-bottom: 2px;" src="./images/menu/arrow down.svg">
            </div>
        </div>
    </div>
        <div class="collapse" id="task-collapse" style="background-color: #002121;">
            <% if (pageList.find(item => item.module == 'Task Assign')) { %>
            <div class="menu2-item2" data-action="app-dashboard">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">Task Assign</label>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (pageList.find(item => item.module == 'MT-Admin')) { %>
            <div class="menu2-item2" data-action="app-mtAdmin">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <% if (userType == 'CUSTOMER') { %>
                            <label class="menu2-label">Create Task</label>
                        <% } %>
                        <% if (userType != 'CUSTOMER') { %>
                            <label class="menu2-label">MT-Admin</label>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (pageList.find(item => item.module == 'Urgent Duty')) { %>
            <div class="menu2-item2" data-action="app-urgentDuty">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">Urgent Duty</label>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    <% } %>
    <% if (pageList.find(item => [ 'Report' ].includes(item.module))) { %>
    <div class="menu2-item item-report" data-bs-toggle="collapse" href="#report-collapse" role="button" tabindex="0" aria-expanded="false" aria-controls="report-collapse">
        <div class="row p-0 m-0">
            <div class="col-auto p-0">
                <img alt="" class="menu-img" src="./images/menu/report.svg">
            </div>
            <div class="col-auto p-0">
                <label class="menu2-label ms-3">Report Management</label>
            </div>
            <div class="col align-self-end p-0">
                <img alt="" class="menu2-img" style="width: 15px; float: right; margin-bottom: 2px;" src="./images/menu/arrow down.svg">
            </div>
        </div>
    </div>
        <div class="collapse" id="report-collapse" style="background-color: #002121;">
            <% if (pageList.find(item => item.module == 'Report' && item.page == 'Unit Report')) { %>
            <div class="menu2-item2" data-action="app-menu-report">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">Unit Report</label>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (pageList.find(item => item.module == 'Report' && item.page == 'ARB Report')) { %>
                <div class="menu2-item2" data-action="app-menu-arb-report">
                    <div class="row p-0 m-0">
                        <div class="col-auto px-3">
                            <div class="diamond-div"></div>
                        </div>
                        <div class="col-auto p-0">
                            <label class="menu2-label">ARB Report</label>
                        </div>
                    </div>
                </div>
                <% } %>
            <% if (pageList.find(item => item.module == 'Report' && item.page == 'Report Creator')) { %>
            <div class="menu2-item2" data-action="app-menu-report-creator">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">Report Creator</label>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (pageList.find(item => item.module == 'Report' && item.page == 'Utilisation Report')) { %>
                <div class="menu2-item2" data-action="app-menu-utilisation-report">
                    <div class="row p-0 m-0">
                        <div class="col-auto px-3">
                            <div class="diamond-div"></div>
                        </div>
                        <div class="col-auto p-0">
                            <label class="menu2-label">Utilisation Report</label>
                        </div>
                    </div>
                </div>
            <% } %>
            <% if (pageList.find(item => item.module == 'Report' && item.page == 'Licensing Report')) { %>
                <div class="menu2-item2" data-action="app-menu-licensing-report">
                    <div class="row p-0 m-0">
                        <div class="col-auto px-3">
                            <div class="diamond-div"></div>
                        </div>
                        <div class="col-auto p-0">
                            <label class="menu2-label">Licensing Report</label>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>
    <% if (pageList.find(item => [ 'Resources', 'Vehicle', 'TO', 'HOTO', 'Driver Track' ].includes(item.module))) { %>
    <div class="menu2-item item-resource" data-bs-toggle="collapse" href="#resource-collapse" role="button" tabindex="0" aria-expanded="false" aria-controls="resource-collapse">
        <div class="row p-0 m-0">
            <div class="col-auto p-0">
                <img alt="" class="menu-img" src="./images/menu/Resources.svg">
            </div>
            <div class="col-auto p-0">
                <label class="menu2-label ms-3">Resource Management</label>
            </div>
            <div class="col align-self-end p-0">
                <img alt="" class="menu2-img" style="width: 15px; float: right; margin-bottom: 2px;" src="./images/menu/arrow down.svg">
            </div>
        </div>
    </div>
        <div class="collapse" id="resource-collapse" style="background-color: #002121;">
            <% if (pageList.find(item => ['Resources', 'Vehicle', 'TO', 'Vehicle Type'].includes(item.module))) { %>
            <div class="menu2-item2 app-resources" data-action="app-resources">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">View Resources</label>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (pageList.find(item => item.module == 'HOTO')) { %>
            <div class="menu2-item2" data-action="app-Hoto">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">HOTO</label>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (pageList.find(item => item.module == 'Driver Track')) { %>
            <div class="menu2-item2" data-action="app-driverTrack">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">Driver Track</label>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    <% } %>
    <% if (pageList.find(item => [ 'Zone' ].includes(item.module) || [ 'Create Route', 'View Route', 'Create Unit', 'View Unit' ].includes(item.page) )) { %>
    <div class="menu2-item item-planning" data-bs-toggle="collapse" href="#planning-collapse" role="button" tabindex="0" aria-expanded="false" aria-controls="planning-collapse">
        <div class="row p-0 m-0">
            <div class="col-auto p-0">
                <img alt="" class="menu-img" src="./images/menu/Planning.svg">
            </div>
            <div class="col-auto p-0">
                <label class="menu2-label ms-3">Planning</label>
            </div>
            <div class="col align-self-end p-0">
                <img alt="" class="menu2-img" style="width: 15px; float: right; margin-bottom: 2px;" src="./images/menu/arrow down.svg">
            </div>
        </div>
    </div>
        <div class="collapse" id="planning-collapse" style="background-color: #002121;">
            <% if (pageList.find(item => item.module == 'Zone' && item.page == 'No Go Zone' && item.action == 'New')) { %>
            <div class="menu2-item2 plan" data-action="noGoZone-create" data-bs-toggle="offcanvas" data-bs-target="#create-noGoZone" aria-controls="create-noGoZone">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">Create No-go Zone</label>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (pageList.find(item => item.module == 'Zone' && item.page == 'No Go Zone' && item.action == 'View')) { %>
            <div class="menu2-item2 plan" data-action="noGoZone-view">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">View/Edit No-go Zone</label>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (pageList.find(item => item.page == 'Create Route')) { %>
            <div class="menu2-item2 plan" data-action="route-create" data-bs-toggle="offcanvas" data-bs-target="#create-route" aria-controls="create-route">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">Create Route</label>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (pageList.find(item => item.page == 'View Route')) { %>
            <div class="menu2-item2 plan" data-action="route-view">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">View/Edit Route</label>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (pageList.find(item => item.page == 'Location' && item.action == 'New')) { %>
                <div class="menu2-item2 plan" data-action="location-create">
                    <div class="row p-0 m-0">
                        <div class="col-auto px-3">
                            <div class="diamond-div"></div>
                        </div>
                        <div class="col-auto p-0">
                            <label class="menu2-label">Create Location</label>
                        </div>
                    </div>
                </div>
            <% } %>
            <% if (pageList.find(item => item.page == 'Location' && item.action == 'View')) { %>
                <div class="menu2-item2 plan" data-action="location-view">
                    <div class="row p-0 m-0">
                        <div class="col-auto px-3">
                            <div class="diamond-div"></div>
                        </div>
                        <div class="col-auto p-0">
                            <label class="menu2-label">View/Edit Location</label>
                        </div>
                    </div>
                </div>
            <% } %>
            <% if (pageList && pageList.find(item => item.page == 'Create Unit')) { %>
            <div class="menu2-item2 plan" data-action="unit-create">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">Create Unit</label>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (pageList && pageList.find(item => item.page == 'View Unit')) { %>
            <div class="menu2-item2 plan" data-action="unit-view">
                <div class="row p-0 m-0">
                    <div class="col-auto px-3">
                        <div class="diamond-div"></div>
                    </div>
                    <div class="col-auto p-0">
                        <label class="menu2-label">Edit Unit</label>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    <% } %>
    <% if (pageList.find(item => item.module == 'Key')) { %>
    <div class="menu2-item item-key" data-action="app-menu-ekeypress">
        <div class="row p-0 m-0">
            <div class="col-auto p-0">
                <img alt="" class="menu-img" src="./images/menu/keypress management.svg">
            </div>
            <div class="col-auto p-0">
                <label class="menu2-label ms-3">Keypress Management</label>
            </div>
        </div>
    </div>
    <% } %>
    <% if (pageList.find(item => item.module == 'Notification')) { %>
    <div class="menu2-item item-notice" data-action="app-notification">
        <div class="row p-0 m-0">
            <div class="col-auto p-0">
                <img alt="" class="menu-img" src="./images/menu/create notification.svg">
            </div>
            <div class="col-auto p-0">
                <label class="menu2-label ms-3">Create Notification</label>
            </div>
        </div>
    </div>
    <% } %>
    <% if (pageList.find(item => item.module == 'SOS')) { %>
    <div class="menu2-item item-sos" data-action="app-menu-sos">
        <div class="row p-0 m-0">
            <div class="col-auto p-0">
                <img alt="" src="./images/menu/SOS.svg">
            </div>
            <div class="col-auto p-0">
                <label class="menu2-label ms-3">SOS</label>
            </div>
        </div>
    </div>
    <% } %>

    <div class="mt-5"></div>

    <div class="menu2-item item-system" style="width: 100%; margin-top: 100px !important;" data-action="menu-system">
        <div class="row p-0 m-0">
            <div class="col-auto p-0">
                <img alt="" src="./images/menu/Telematics.svg">
            </div>
            <div class="col-auto p-0">
                <label class="menu2-label ms-3">Switch to CV</label>
            </div>
        </div>
    </div>


    <div class="menu2-item mb-3 item-logout" style="width: 100%;" data-action="menu-logout">
        <div class="row p-0 m-0">
            <div class="col">
            </div>
            <div class="col align-self-center p-0" style="height: 25px;">
                <img alt="" style="position: absolute; margin: 0 auto; left: 0; right: 0;" src="./images/menu/turn off.svg">
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>