<script type="module" src="../scripts/waypoint/waypoint-upload.js"></script>

<div class="modal fade" id="view-waypoint-upload" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload Waypoint List</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <% if (pageList.find(item => item.module == 'Driver Control' && item.page == 'Waypoint' && item.action == 'Upload')) { %>
                    <div class="row">
                        <div class="mb-3">
                            <button type="button" class="layui-btn" id="waypoint-upload">
                                <i class="layui-icon">&#xe67c;</i>Upload Waypoint
                            </button>
                        </div>
                    </div>
                <% } %>
                <div>
                    <table aria-hidden="true" id="waypoint-upload-list">

                    </table>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>