<script type="module" src="../scripts/userZone/userZone-view.js"></script>
<div class="modal fade" id="view-userZone" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User Zone List</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <input type="search" class="form-control form-control-sm custom-search" aria-controls="driver-list" placeholder="Search">
                    </div>
                </div>
                <div>
                    <table aria-hidden="true" id="userZone-list">

                    </table>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>