<style>
    .success-div {
        width: 100%; 
        height: 500px;
    }
    .success-img-div {
        width: 100%;
        height: 300px;
        background-color: white;
        background-image: url('../images/submitted.png');
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .opt-btn-div {
        width: 120px;
        height: 40px;
        border: 1px solid #c8c5c5;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #064220;
        font-weight: 600;
    }
    .btn-disabled {
        pointer-events: none;
        cursor: not-allowed;
        background-color: #bbbab9 !important;
    }
</style>

<div class="modal fade" id="view-vehicle-edit" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" style="border-radius: 10px;">
            <div class="modal-body" style="padding: 0;">
                <div class="edit-content-div">
                    <div class="row mx-0">
                        <h4 class="modal-title fs-5" style="font-weight: 900; line-height: 50px; color: white; background-color: #1B9063;">New Vehicle</h5>
                    </div>
                    <div class="row mx-0 px-4">
                        <div class="layui-tab-content" style="padding: 0px;">
                            <form id="vehicle-info-form">
                                <div class="layui-tab-item layui-show p-2">
                                    <div class="row">
                                        <div class="col-12 my-2">
                                            <label style="font-size: 16px; font-weight: bolder;">Ownership Details</label>
                                        </div>
                                        <div class="col-6">
                                            <label class="info-title">Hub</label><br>
                                            <select class="form-select vehicle-hub-select" name="vehicleHub">

                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <label class="info-title">Node</label><br>
                                            <select class="form-select vehicle-node-select" name="vehicleNode">

                                            </select>
                                        </div>
                                        <div class="col-6  mt-2">
                                            <label class="info-title">Unit</label><br>
                                            <select class="form-select vehicle-group-select" name="vehicleGroup"></select>
                                        </div>
                                        <div class="col-6  mt-2">
                                            <label class="info-title">Vehicle No.</label><br>
                                            <input class="form-control vehicle-no-input"  name="vehicleNo" style="background-color: white !important;border: 1px solid #c7c6c4 !important;"></input>
                                        </div>
                                        <div class="col-6 mt-2">
                                            <label class="info-title">Odometer</label><br>
                                            <input oninput="value=value.replace(/[^\d]/g,'')"  name="vehicleMileage" class="form-control vehicle-mileage-input" style="background-color: white !important;border: 1px solid #c7c6c4 !important;"></input>
                                            <label class="info-title" style="font-size: 10px;">Please enter the current odometer reading</label>
                                        </div>
                                        <div class="col-6 mt-2">
                                            <label class="info-title">Key Tag ID</label><br>
                                            <input name="vehicleKeyTagId" class="form-control vehicle-keyTagId-input" style="background-color: white !important;border: 1px solid #c7c6c4 !important;"></input>
                                            <label class="info-title" style="font-size: 10px;">Please enter the e-keypress key tag id.</label>
                                        </div>
                                        <div class="col-6">
                                            <label class="info-title">Speed Limit</label><br>
                                            <input oninput="value=value.replace(/[^\d]/g,'')" class="form-control vehicle-speedlimit-input" name="vehicleSpeedlimit" style="background-color: white !important;border: 1px solid #c7c6c4 !important;"></input>
                                        </div>
                                    </div>
                                    <div class="row my-4" style="height: 1px; background-color: rgb(233, 233, 233); border-radius: 2px;"></div>
                                    <div class="row">    
                                        <div class="col-12 my-2">
                                            <label style="font-size: 16px; font-weight: bolder;">Vehicle Specifications</label>
                                        </div>
                                        <div class="col-6">
                                            <label class="info-title">Vehicle Name</label><br>
                                            <select class="form-select vehicle-type-select" aria-placeholder="Select Vehicle Name" name="vehicleType" id="vehicleType">
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <label class="info-title">Vehicle Category</label><br>
                                            <input class="form-control" disabled placeholder="" name="vehicleCategory" id="vehicleCategory" style="background-color: white !important;border: 1px solid #c7c6c4 !important;"></input>
                                        </div>
                                        <div class="col-6 mt-2">
                                            <label class="info-title">Description</label><br>
                                            <input class="form-control vehicle-dimensions-input" disabled placeholder="Enter Description(if any)" name="vehicleDimensions" style="background-color: white !important;border: 1px solid #c7c6c4 !important;"></input>
                                        </div>
                                        <div class="col-6 mt-2">
                                            <label class="info-title">Permit Type</label><br>
                                            <input class="form-control permit-type-input" disabled placeholder="" name="permitTypeInput" style="background-color: white !important;border: 1px solid #c7c6c4 !important;"></input>
                                            <select class="form-select permit-type-select" style="display: none;" aria-placeholder="Select Vehicle Name" name="permitTypeSelect" id="permitTypeSelect">
                                            </select>
                                        </div>
                                        <div class="col-6 mt-2 vehice-avi-date">
                                            <label class="info-title">AVI Date</label><br>
                                            <img alt="" src="../images/driver/calendar.png" style="width: 20px;height: 20px;position: absolute;margin-top: 0.4rem;margin-left: 0.3rem;"/>
                                            <input name="aviDate" id="aviDate" placeholder="DD/MM/YYYY" class="form-control avi-date-input" style="padding-left: 30px ;background-color: white !important;border: 1px solid #c7c6c4 !important;" readonly></input>
                                        </div>
                                        <div class="col-6 mt-2 vehice-pm-type">
                                            <label class="info-title">PM</label><br>
                                            <input name="pmType" id="pmType" type="radio" checked class="pmType1" value="1">&nbsp;By Distance</input>
                                            <input name="pmType" id="pmType" type="radio" class="pmType2" value="2">&nbsp;By Months</input>
                                        </div>
                                        <div class="col-6 mt-2 pm-by-distance-div">
                                            <label class="info-title">Last PM Mileage</label><br>
                                            <input oninput="value=value.replace(/[^\d]/g,'')" type="number" class="form-control vehicle-pmMaxMileage-input" name="vehiclePmMaxMileage" style="background-color: white !important;border: 1px solid #c7c6c4 !important; width: 80%; display: inline-block;"></input><span style="font-size: 18px;color: rgb(145, 145, 145);">&nbsp;Km</span>
                                        </div>
                                        <div class="col-6 mt-2 pm-by-months-div" style="display: none;">
                                            <label class="info-title">Last PM Date</label><br>
                                            <input oninput="value=value.replace(/[^\d]/g,'')" max="12" min="1" type="number" class="form-control vehicle-pmMonths-input" name="vehiclePmMonths" style="background-color: white !important;border: 1px solid #c7c6c4 !important; width: 70%; display: inline-block;"></input><span style="font-size: 18px; color: rgb(145, 145, 145);">&nbsp;Months</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row my-3 px-4" style="display: flex;">
                        <div class="mt-1" style="width: 50%;display: flex;justify-content: flex-end;">
                            <div class="opt-btn-div opt-btn-div-cancel custom-btn-gray modal-footer-bunton-cancel-lg" onclick="cancleEditVehicle();" role="button" tabindex="0">
                                <label class="opt-btn-label fs-6">Cancel</label>
                            </div>
                        </div>
                        <div class="mt-1" style="width: 50%;display: flex;justify-content: flex-start;">
                            <div onclick="confirmCreateOrSave(this);" role="button" tabindex="0" class="opt-btn-div opt-btn-div-create modal-footer-bunton-confirm-lg" style="background-color: #1B9063;width: 200px; display: none;">
                                <label style="color: white;" class="opt-btn-label fs-6">Submit And Create</label>
                            </div>
                            <div onclick="confirmCreateOrSave(this);" role="button" tabindex="0" class="opt-btn-div opt-btn-div-edit" style="background-color: #1B9063; display: none;">
                                <label style="color: white;" class="opt-btn-label fs-6">Save</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="success-div" style="display: none;">
                    <div class="success-img-div"></div>
                    <div style="width: 100%;"><label class="fs-4" style="font-weight: 900; display: flex; justify-content: center;">New vehicle profile submitted for approval</label></div>
                    <div style="width: 100%;"><label style="color:rgb(213, 210, 210);display: flex; justify-content: center;">You will be notified when the vehicle profile has been verified.</label></div>
                    <div class="row my-3" style="display: flex;justify-content: center;">
                        <div onclick="backToList();" role="button" tabindex="0" style="width: 240px;border: 1px solid green;border-radius: 5px;text-align: center;">
                            <label style="color: green;" class="fs-6">Back To Resource Listing</label>
                        </div>
                        <div onclick="createContinue();" role="button" tabindex="0" style="width: 180px;border: 1px solid green;border-radius: 5px;text-align: center;background-color: #1B9063;margin-left: 20px;">
                            <label style="color: white;" class="opt-btn-label fs-6">Create Another</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>