<style>
    .vehicleRelDataContentDiv {
        border: 1px solid white;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
        background-color: white;
        max-height: 240px;
        height: fit-content;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
<div class="modal fade" id="vehicle-task-info" tabindex="-1" data-backdrop="static" data-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="width: 500px; height: 600px; background-color: #f4f4f4;">
      <div class="modal-header" style="background-color: #1C9063 !important;">
        <h4 style="font-size: large; color: white;" >Vehicle Data Info</h4>
      </div>
      <div class="modal-body" style="height: 400px; overflow: auto; padding-left: 15px; padding-right: 15px; padding-top: 0;">
        <div class="row">
            <input id="deactivateVehicleNo" value="" style="display: none;"/>
    
            <div class="col-12 mt-2">
              <label style="color: black; font-weight: 900;">The following task will be unassigned/ended for Vehicle No. <span class="unassigned-vehcileno-label"></span></label>
                <!-- <label style="color: black; font-weight: 900;">Assigned Task</label><br> -->
              <div class="vehicleRelDataContentDiv vehicleTaskContentDiv">
              </div>
            </div>
            <div class="col-12 mt-2 vehicleHotoList" style="display: none;">
              <label style="color: black; font-weight: 900;">The following resource will be returned for the following HOTO</label>
              <div class="vehicleRelDataContentDiv vehicleHotoContentDiv">
              </div>
            </div>
            <div class="col-12 mt-2 vehicleLoanList" style="display: none;">
              <label style="color: black; font-weight: 900;">The following resource will be returned for the following LOAN</label>
              <div class="vehicleRelDataContentDiv vehicleLoanContentDiv">
              </div>
            </div>
        </div>

      </div>
      <div class="modal-footer" style="padding-bottom: 1.5rem;">
        <button type="button" class="btn btn-secondary custom-btn-gray modal-footer-bunton-cancel-sm" id="cancelDeleteVehicle">Cancel</button>
        <button type="button" class="btn btn-success modal-footer-bunton-confirm-sm" id="confirmDeleteVehicle">Confirm</button>
      </div>
    </div>
  </div>
</div>

<script src="../scripts/vehicle/vehicle-task-info.js"></script>