::-webkit-scrollbar {
	width: 5px !important;
}
::-webkit-scrollbar-button {
	width: 5px !important;
}
.row{
	--bs-gutter-x: 0 !important;
}

.map-card-list{
	position: absolute; 
	left: 20px;
	top: 20px;
	z-index:2;
	background: transparent;
}
.map-tab-list{
	position: absolute; 
	right: 420px;
	top: 20px;
	z-index:2;
	background: transparent;
}
.map-card {
	width: 120px; 
	line-height: 25px;
	border-radius: 5px;
	color: white;
	margin-top:5px;
}
.map-card img{
	vertical-align: bottom !important;
}

.card-1 {
	background: #F38F00; 
}
.card-2 {
	background: #F55E4F; 
}
.card-3 {
	background: #43CC6D; 
}
.card-number{
	position: absolute;
	right: 8px;
}
.card-font-number{
	font-size: 22px;
}
.card-font-label{
	font-size: 16px;
}
.menu{
	width: 100%; 
	height: 80px; 
	background: black; 
	position: absolute; 
	bottom: 0;
	z-index: 100;
}
.menu img{
	width: 32px;
	height: 32px;
}

.driver-card{
	position: absolute;
	bottom: 0;
	background: #ecf2f2;
	height: 30px;
	width: 100%;
	z-index: 2;
	box-shadow: 0 -.4rem 8px rgba(147, 144, 144, 0.95);
}

.driver-card .top-arrow{
	height: 30px;
}
.driver-card .driver-box{
	background-color: white;
	width: -webkit-fill-available;
	min-height: 90px;
	margin-top: 6px;
	margin-left: 10px;
	margin-right: 10px;
	border-style: solid;
	border-radius: 20px;
	border-width: 2px;
	margin-bottom: 5px;
	padding-left: 1rem!important;
	padding-right: 1rem!important;
	box-shadow: 1px 1px 5px #b8b8b8;
}
.driver-card .driver-box-tag{
	margin-left: -26px;
	margin-top: 8px;
	position: absolute;
}
.driver-card .driver-box .driver-box-tag-label{
	margin-left: -10px;
	color: white;
	font-size: 17px !important;
}
.driver-card .driver-box label{
	font-size: 13px;
	line-height: 13px;
}
.vr {
	display: inline-block;
	align-self: stretch;
	width: 1px;
	min-height: 2.8em;
	background-color: currentColor;
	opacity: .25;
}
.color-grey{
	color: grey;
}
.fs-driver label{
	font-size: 18px !important;
	font-weight: bold;
}
.leaflet-tooltip label{
	font-size: 12px !important;
	font-weight: bold;
}
.driver-statistics{
	/* position: absolute; */
	width: 100%;
	padding: 10px 0;
    border-bottom: solid 2px #e3dfdf;
}
.driver-statistics .driver-statistics-card{
	width: 100%; 
	height: 100%; 
	border: 1px solid white; 
	border-radius: 5px;
	box-shadow: 1px 1px 5px #888888;
}
.driver-statistics .driver-statistics-card img{
	width: 30px;
	height: 30px;
}
.driver-statistics .driver-statistics-card .card-font-number{
	font-size: 22px;
	color: white;
	font-weight: bold;
	line-height: 30px;
}
.text-black{
	color: white !important;
	font-weight: bold;
	padding-top: 3px;
}
.driver-box-tag-zIndex{
	z-index: 3;
}
.driver-datas{
	overflow-y: auto;
	margin-top: 10px;
	max-height: calc(100% - 200px);
}
.transform180{
	transform: rotate(180deg);
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
	background-color: #5f9bf5;
	border-color: #5f9bf5;
}
.btn-outline-primary {
	background-color: #ebe9e9;
	border-color: #5f9bf5;
}

.leaflet-tooltip{
	border-color: #898787 !important;
	padding-top: 0;
	padding-bottom: 0;
}

.leaflet-tooltip-top:before {
	border-top-color: #898787 !important;
}

.align-items-end {
	cursor: pointer;
}

.event-count-label {
	background-color: red;
    border-radius: 20px;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 10px;
}
/* #modal-speed-chart .dataTables_wrapper .dataTables_paginate .paginate_button {
	color: black !important;
}
#modal-speed-chart .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: white !important;
} */

#modal-speed-chart tr:hover {
	background-color: #dbdada;
	cursor: pointer;
}

#modal-speed-chart tr th {
	background-color: #7489F4 !important;
	color: white !important;
	border-width: 0 !important;
	/* height: 40px;
	line-height: 40px; */
}

#modal-speed-chart .echarts-title{
	width: 100%; 
	height: 39.5px; 
	line-height: 39.5px;
	background-color: #72BC88; 
	text-align: center; 
	color: white; 
	font-size: 15px; 
	font-weight: 500; 
}

#modal-speed-chart table{
	border-width: 0 !important;
}

#modal-speed-chart tr td {
	border-bottom: solid 1px rgb(208, 207, 207);
}