body{
    background-color: #F1F2F6;
    min-width: 1800px;
    overflow-x: auto;
}
.landing-header{
    height: 65px;
    background-color: #2B56B4;
    color: white;
}
.landing-title{
    font-size: 28px;
    font-weight: bold;
}
.margin-lr{
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}
.padding-lr{
    padding-left: 80px;
    padding-right: 80px;
    margin: 0;
}
.landing-subtitle{
    height: 50px;
    color: #2A53A9;
    font-size: 22px;
    font-weight: bolder;
    box-shadow: 1px 1px 1px #E7E7E7;
}
.landing-box-shadow{
    box-shadow: 1px 1px 1px #E7E7E7;
}
.landing-row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    border: 2px solid #F0F0F0;
    background-color: white;
}
.row-title::before {
    content: "";
    width: 8px;
    height: 30px;
    margin-right: 8px;
    background: #043AB0;
    border-radius: 8px;
}
.bg-lightyellow{
    color: #043AB0;
    background-color: #FEFBDC;
    min-height: 65px;
}
.other-service{
    height: 180px;
    position: relative;
    cursor: pointer;
    box-shadow: 1px 1px 1px #E7E7E7;
}
.other-service img{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}
.other-service-title{
    z-index: 1;
    align-items: center;
    height: inherit;
    justify-content: center!important;
    display: flex!important;
    flex-direction: column;
}
.other-service-title label{
    color: white;
    font-size: 26px;
    font-weight: bold;
}
.btn-view-more{
    width: 180px;
    height: 36px;
    border: 1px solid white;
    background-color: transparent;
}
.holding-card{
    height: 110px;
    position: relative;
}
.holding-number{
    font-size: 22px;
    font-weight: bold;
    color: #2A53A9;
    vertical-align: middle!important;
    padding-left: 8px;
}
.holding-img{
    position: absolute;
    bottom: 0;
    padding-top: 3rem;
}
.incident-management-number{
    font-size: 54px;
    font-weight: bold;
}
.incident-management-color-1{
    color: #138E4D;
}
.incident-management-color-2{
    color: #2F58B7;
}
.incident-management-color-3{
    color: #DA3F39;
}
.incident-management-color-4{
    color: #C57810;
}
.height-1{
    height: 220px;
}
.height-2{
    height: 50px;
}