@font-face {
    font-family: "iconfont"; 
    src: url('iconfont.woff2?t=1658391269893') format('woff2'),
        url('iconfont.woff?t=1658391269893') format('woff'),
        url('iconfont.ttf?t=1658391269893') format('truetype');
}
.iconfont {
    font-family: "iconfont" !important;
    color: #204B4D;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-down-div {
    height: 18px !important;
    line-height: 6px !important;
    padding-top: 5px;
}
  
.icon-down:before {
    content: "\e773";
    /* font-size: 20px; */
}

.color-pickup-destination {
    color: #2325AC
}
.color-dropoff-destination {
    height: 10px !important;
    line-height: 10px !important;
    color: #289D04
}

html, body{
    background-color: #F7F7F7 !important;
    padding: 0;
}

.cal-percent {
    color: #F57F1D !important;
    font-weight: bold;
    /* font-size: 18px; */
}
.hr-btn {
    background-color: #FFFFFF !important;
    color: #6F6E6F !important;
    border-color: #FFFFFF !important;
    box-shadow:2px 2px 3px #aaaaaa;
}
.hr-btn.active {
    border-color: #F57F1D !important;
    background-color: #FFFFFF !important;
    color: #6F6E6F !important
}

.hr-btn:hover {
    color: #6F6E6F !important;
    border-color: #F57F1D !important;
    background-color: #FFFFFF !important;
}
.sector-btn.btn-unapproved {
    border-color: #e1862b !important;
    background-color: #292C30 !important;
}
.sector-btn.btn-unapproved.active {
    border-color: #e1862b !important;
    background: rgba(224, 133, 43, 0.5) !important;
}
.sector-btn.btn-unapproved:hover  {
    border-color: #e1862b !important;
    background: rgba(224, 133, 43, 0.5) !important;
}
.sector-btn.btn-unassigned {
    border-color: #728FF1 !important;
    background-color: #292C30 !important;
}
.sector-btn.btn-unassigned.active {
    border-color: #728FF1 !important;
    background: rgba(114, 142, 240, 0.5) !important;
}
.sector-btn.btn-unassigned:hover  {
    border-color: #728FF1 !important;
    background: rgba(114, 142, 240, 0.5) !important;
}
.sector-btn.btn-assigned {
    border-color: #55CE7B !important;
    background-color: #292C30 !important;
}
.sector-btn.btn-assigned.active {
    border-color: #55CE7B !important;
    background: rgba(85, 205, 123, 0.5) !important;
}
.sector-btn.btn-assigned:hover  {
    border-color: #55CE7B !important;
    background-color: #55CE7B !important;
    background-color: rgba(85, 205, 123, 0.5) !important;
}
.sector-btn.btn-ongoing {
    border-color: #8D7FCF !important;
    background-color: #292C30 !important;
}
.sector-btn.btn-ongoing.active {
    border-color: #8D7FCF !important;
    background: rgba(140, 126, 206, 0.5) !important;
}
.sector-btn.btn-ongoing:hover  {
    border-color: #8D7FCF !important;
    background: rgba(140, 126, 206, 0.5) !important;
}
.sector-btn.btn-tomonitor {
    border-color: #71BEC5 !important;
    background-color: #292C30 !important;
}
.sector-btn.btn-tomonitor.active {
    border-color: #71BEC5 !important;
    background: rgba(113, 189, 196, 0.5) !important;
}
.sector-btn.btn-tomonitor:hover  {
    border-color: #71BEC5 !important;
    background: rgba(113, 189, 196, 0.5) !important;
}
.sector-btn.btn-completed {
    border-color: #EDCC6C !important;
    background-color: #292C30 !important;
}
.sector-btn.btn-completed.active {
    border-color: #EDCC6C !important;
    background: rgba(236, 203, 108, 0.5) !important;
}
.sector-btn.btn-completed:hover  {
    border-color: #EDCC6C !important;
    background: rgba(236, 203, 108, 0.5) !important;
}



.custom-label {
    background-color: #292c30;
    padding: 2px 12px;
    border-radius: 5px;
}

.border-div {
    padding: 0 10px;
    /*border: solid 2px #0c1c69;*/
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    box-shadow:2px 2px 3px #aaaaaa;
}

.color-circle {
    display: none;
    /*display: inline-block;*/
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-right: 10px;
}

.container {
    max-width: 1960px !important;
    margin: auto;
    color: #fff;
}

.overview-container {
    min-width: 200px;
}

#overview1-circle-1 {
    width: 490px;
    height: 280px;
    margin-top: -30px;
 }

#overview1-circle-2,#overview1-circle-3,#overview1-circle-4,#overview1-circle-5,#overview1-circle-6,#overview1-circle-7 {
    width: 300px;
    height: 290px;
    margin-top: -30px;
}

#overview2-circle-1 {
    width: 100%;
    height: 300px;
}

#overview2-circle-2, #overview2-circle-3, #overview-detail-circle-2,#overview-detail-circle-3 {
    width: 100px;
    height: 125px;
    margin-top: -12px;
    position: absolute;
    margin-left: 70px;
    display: none;
}
#overview2-circle-4 {
    width: 100px;
    height: 125px;
    margin-top: -2px;
    position: absolute;
    margin-left: 70px;
    display: none;
}

#overview-detail-circle-4 {
    width: 100px;
    height: 125px;
    margin-top: -12px;
    position: absolute;
    margin-left: 70px;
    display: none;
}

.list-group-state>.list-group-item {
    background-color: #061039 !important;
    /* font-size: 10px; */
    /*padding: 10px 10px !important;*/
    /*width: 120px !important;*/
}

.state-circle {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.color-kia-dow {
    background-color: #728FF1;
}

.color-wia-urgent {
    background-color: #81CEA7;
}

.color-wia {
    background-color: #8D7FCF;
}

.color-mia {
    background-color: #71BEC5;
}

.color-completed {
    background-color: #EDCC6C;
}

.overview1-container-level1 {
    text-align: center;
}

.overview1-container-level2 {
    text-align: center;
}

.zone-selected, .detail-selected {
    background-color: #1c2023 !important;
    border-color: #007bff !important;
    border: solid 15px;
}

.unassigned-list-expand,.assigned-list-expand,.completed-list-expand {
    background-image: url(../../icons/expand.png);
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 2px;
    cursor: pointer;
}

.unassigned-list-expand.expand,.assigned-list-expand.expand,.completed-list-expand.expand {
    transform:rotate(180deg);
}




table.dataTable {
    border: solid 6px #FFFFFF !important;
    border-radius: 5px !important;
    width: 96% !important;
    text-align: center !important;
    box-sizing: border-box !important;
}
table.dataTable thead {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    color: black !important;
    /* font-size: 18px; */
}
table.dataTable thead td {
    border-bottom: 0 solid #FFFFFF !important;
}

.dataTables_scrollHeadInner .table-striped thead th {
    border-bottom: 3px solid #1B9063 !important;
}
table.dataTable tbody tr {
    background-color: #FFFFFF !important;
    color: #656565;
    /* font-size: 16px; */
}

.no-display {
    display: none;
}

table.dataTable thead .sorting_asc {
    background: none !important;
}