.custom-map-popup {
	padding-top: 5px;
}

.leaflet-popup-content-wrapper {
	border-radius: 8px !important;
}
/**
	Marker Cluster
*/
.marker-cluster-large div {
	background-color: #329bf7;
	color: whitesmoke;
}

.marker-cluster-medium div {
	background-color: #329bf7;
	color: whitesmoke;
}

.marker-cluster-small div {
	background-color: #329bf7;
	color: whitesmoke;
}

.marker-cluster-small {
	background-color: transparent;
}
.marker-cluster-medium {
	background-color: transparent;
}
.marker-cluster-large {
	background-color: transparent;
}