.dataTable {
    text-align: center;
}
.dataTables_wrapper .dataTables_filter {
    float: left;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 0.2em !important;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 0.85em;
}

