#map {
    z-index: 0;
    position: relative;
}

/**
    top center tab
    */
.tab-top {
    text-align: center;
    /* position: absolute; */
    margin: auto;
    /* top: 10px;
    left: 0;
    right: 0; */
    width: 200px;
    height: 32px;
    border-radius: 20px;
    border: 2px solid #F7BD14;
    background: #333;
}

.tab-top label {
    color: whitesmoke;
    width: 45%;
    font-size: small;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
}
.tab-top label:hover {
    color: #F7BD14;
}
.tab-top label:first-child {
    border-right: solid 1px #9b9b9b !important;
}

.tab-top label.active {
    color: #F7BD14;
}

/**
    top right menu
    */

.tab-top-right {
    text-align: right;
    /* position: absolute;
    margin: auto;
    top: 20px;
    right: 0; */
    width: 250px;
    z-index: 1;
}

.img-responsive {
    width: 35px;
    cursor: pointer;
}
.menu-app-img {
    width: 30px; 
    height: 30px; 
    margin-top: 3px; 
    background-image: url(../images/index/menu-black.png); 
    background-repeat: no-repeat; 
    background-size: 30px 30px  ;
}
.menu-app-img.active {
    background-image: url(../images/index/menu-white.png)
}
.tab-top-right-count {
    border: 2px solid #EF4746;
    background: #BF1E2E;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: absolute;
    top: 25px;
    right: 72px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.tab-top-right-count2 {
    border: 2px solid #EF4746;
    background: #BF1E2E;
    min-width: 18px;
    height: 18px;
    border-radius: 10px;
    position: absolute;
    top: -5px !important;
    right: 72px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 13px;
    right: 2px !important;
}

.menu-app-container {
    position: absolute;
    right: 67px;
    width: 300px;
    height: 340px;
    background: rgba(51, 49, 50, .8);
    color: #C1BFC0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 80px;
    padding: 10px 0 10px 15px;
    display: none;
}

.menu-app-container.active{
    position: absolute;
    right: 67px;
    width: 300px;
    height: 340px;
    background: rgba(51, 49, 50, .8);
    color: #C1BFC0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 80px;
    display: block;
    transition: all ease .3s
}

.menu-app-container.active .menu-top-spacer {
    position: absolute;
    background: rgba(51, 49, 50, .8);
    right: -67px;
    top: -80px;
    height: 420px;
    width: 67px;
}

.apps-details {
    width: 100%;
    height: 285px;
    overflow-y: scroll;
}

.apps-details .menu-item {
    text-align: center;
    color: whitesmoke;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 5px 5px 5px;
    height: 90px;
}

.apps-details .menu-item:hover {
    background-color: rgba(51, 49, 50, .6);
}

.apps-details .menu-item img {
    width: 35px;
}
.apps-details .menu-item label {
    line-height: 16px;
    margin-top: 6px;
    cursor: pointer;
}

/**
    left menu
    */
.left-view-container {
    position: absolute;
    top: calc(50% - 281px);
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    display: none;
}
.left-view-container.active {
    display: block;
}
.left-view-container-hide {
    position: absolute;
    top: calc(50% - 281px);
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    display: none;
}
.vehicle-status-view {
    cursor: pointer;
    color: white;
    border: solid white 2px;
    line-height: 44px;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: auto;
    margin: 15px auto;
}

.vehicle-status-view.view-obd {
    background-image: url(../images/index/speed-unselected.svg);
}
.vehicle-status-view.view-obd.active {
    background-image: url(../images/index/speed.svg);
}
.vehicle-status-view.view-waypoint {
    background-image: url(../images/index/gps-unselected.svg);
}
.vehicle-status-view.view-waypoint.active {
    background-image: url(../images/index/gps.svg);
}

.vehicle-status-view.view-incident {
    background-image: url(../images/index/incident-unselected.svg);
}
.vehicle-status-view.view-incident.active {
    background-image: url(../images/index/incident.svg);
}

.vehicle-status-view.view-missing-car {
    background-image: url(../images/index/radio-unselected.svg);
}
.vehicle-status-view.view-missing-car.active {
    background-image: url(../images/index/radio.svg);
}
.vehicle-status-view.view-camera {
    background-image: url(../images/index/camera-unselected.svg);
}
.vehicle-status-view.view-camera.active {
    background-image: url(../images/index/camera-selected.svg);
}
.vehicle-status-view.view-traffic-incident {
    background-image: url(../images/index/traffic-incident-unselected.svg);
}
.vehicle-status-view.view-traffic-incident.active {
    background-image: url(../images/index/traffic-incident-selected.svg);
}