<style>
    .success-div {
        width: 100%; 
        height: 500px;
    }
    .success-img-div {
        width: 100%;
        height: 300px;
        background-color: white;
        background-image: url('../images/submitted.png');
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .opt-btn-div {
        width: 120px;
        height: 40px;
        border: 1px solid #c8c5c5;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #064220;
        font-weight: 600;
    }
    #driver-markAsUnavailable .modal-title {
        width: 100%;
        height: fit-content;
        background-color: rgb(211 236 234 / 45%);
        border-radius: 10px 10px 0 0;
    }
    .div-table {
		display: table; 
		height: 100%;
	}
	.div-table-cell {
		display: table-cell; 
		text-align: center; 
		vertical-align: middle;
	}
    .circle-status {
        padding: 0 10px;
        border-radius: 5px;
        border: solid 1px rgb(232, 232, 232);
    }
    .circle-status label {
        line-height: 15px;
        font-size: 15px;
        color: rgb(153, 153, 153);
    }
    .div-circle {
        width: 10px; 
        height: 10px; 
        border-radius: 5px; 
        margin: 0 5px;
    }
    .info-title {
        color: black;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 22px;
    }
    .info-value {
        font-weight: 600;
        line-height: 24px;
    }
    .reassignReasonDiv {
        border: 1px solid white;
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
        height: 40px;
        background-color: rgb(225, 221, 221);
        color: black;
    }
    .reassignReasonDiv.active {
        background-color: #1C9063;
        color: white;
    }
</style>

<div class="modal fade" id="driver-markAsUnavailable" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="width: 500px; max-height: 580px;">
        <div class="modal-content">
            <div class="modal-title">
                <div class="title-content py-4" style="display: flex;">
                    <div style="width: calc(100% - 50px); padding-left: 20px;">
                        <label class="title-purpose-label fs-4" style="font-weight: 600;">Mark as unavailable</label>
                        <label >Mark transport operator's schedules as unavailable to prevent any indents  from  being  assigned on those  selected dates.</label><br/>
                    </div>
                    <div style="width: 50px; text-align: center; height: 100%; padding-top: 10px;">
                        <img alt="" class="close-img" src="../images/x-close.svg">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="edit-content-div">
                    <div class="row">
                        <div class="layui-tab-content" style="padding: 0px; height: 470px;">
                            <form id="task-info-form">
                                <div class="layui-tab-item layui-show p-2">
                                    <div class="row">
                                        <div class="col-12">
                                            <div>
                                                <div class="info-title">Transport Operator</div>
                                                <input class="form-control transport-operator" readonly>
                                            </div>
                                            <div style="display: flex; padding-top: 20px;">
                                                <div style="width: 50%;">
                                                    <div class="info-title">Date(from)</div>
                                                    <div style="width: 100%; padding-right: 10px;">
                                                        <input class="form-control date-from" id="markAsUnavailable-date-from">
                                                    </div>
                                                </div>
                                                <div style="width: 50%;">
                                                    <div class="info-title" style="padding-left: 10px;">Date(to)</div>
                                                    <div style="width: 100%; padding-left: 10px;">
                                                        <input class="form-control date-to" id="markAsUnavailable-date-to">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="markAsUnavailable-day-div" style="width: 100%; display: flex; padding-top: 10px;">
                                                <div style="width: 25%; display: flex; align-items: center;">
                                                    <input type="checkbox" class="form-check-input markAsUnavailable-day" data-value="all" id="markAsUnavailable-date-all">
                                                    <label class="form-check-label" style="padding-left: 5px; padding-top: 3px;">All Day</label>
                                                </div>
                                                <div style="width: 25%; display: flex; align-items: center;">
                                                    <input type="checkbox" class="form-check-input markAsUnavailable-day" data-value="am" id="markAsUnavailable-date-am">
                                                    <label class="form-check-label" style="padding-left: 5px; padding-top: 3px;">AM</label>
                                                </div>
                                                <div style="width: 25%; display: flex; align-items: center;">
                                                    <input type="checkbox" class="form-check-input markAsUnavailable-day" data-value="pm" id="markAsUnavailable-date-pm">
                                                    <label class="form-check-label" style="padding-left: 5px; padding-top: 3px;">PM</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-4" style="height: 1px; background-color: rgb(233, 233, 233); border-radius: 2px;"></div>
                                    <div class="row">
                                        <div class="col-12 my-2">
                                            <label style="font-size: 16px; font-weight: bolder;">Reason</label>
                                        </div>
                                        <div class="col-12">
                                            <div style="padding-left: 10px;">
                                                <div class="row">
                                                    <div class="reassignReasonDiv active px-2" style="width: 90px;">
                                                        <label style="line-height: 22px; padding-top: 9px;">On Leave</label> 
                                                    </div>
                                                    <div class="reassignReasonDiv px-2 mx-2" style="width: 100px;">
                                                        <label style="line-height: 22px; padding-top: 9px;">On MC</label> 
                                                    </div>
                                                    <div class="reassignReasonDiv px-2" style="width: 120px;">
                                                        <label style="line-height: 22px; padding-top: 9px;">On Ops Duty</label> 
                                                    </div>
                                                </div>
                                                <div class="row pt-4" style="padding-right: 20px;">
                                                    <div class="info-title" style="padding-left: 0px;">Additional Notes</div>
                                                    <textarea class="additional-notes" style="border-color: #ced4da; border-radius: 10px;" rows="3" placeholder="Yee Xiang on urgent compassionate leave"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row my-3" style="display: flex;">
                        <div class="mt-1" style="width: 33%;display: flex;justify-content: flex-start;">
                            <!-- <div class="opt-btn-div opt-btn-div-cancel" onclick="cancleMarkDriver();">
                                <label class="opt-btn-label fs-6">Cancel</label>
                            </div> -->
                        </div>
                        <div class="mt-1" style="width: 33%;display: flex;justify-content: flex-end;">
                            <div onclick="confirmMarkDriver(0);" role="button" tabindex="0" class="opt-btn-div opt-btn-div-cancel" style="background-color: #1B9063; display: none;">
                                <label style="color: white;" class="opt-btn-label fs-6">Cancel Leave</label>
                            </div>
                        </div>
                        <div class="mt-1" style="width: 33%;display: flex;justify-content: flex-end;">
                            <div onclick="confirmMarkDriver(1);" role="button" tabindex="0" class="opt-btn-div dl-opt-btn-div-create" style="background-color: #1B9063;">
                                <label style="color: white;" class="opt-btn-label fs-6">Confirm</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../scripts/driverTo/driver-markAsUnavailable.js"></script>