<script type="module" src="../scripts/driverTo/driver-create-incident.js"></script>  

<div class="modal fade" id="create-incident" tabindex="-1" data-backdrop="static" data-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1C9063 !important;">
        <h4 class="modal-title">Create Incident</h4>
      </div>
      <div class="modal-body" style="padding-bottom: 2rem;">
        <div class="col-12 mt-2">
            <label class="info-title">Driver Name</label><br>
            <input class="form-control driverName-input" style="border: 1px solid #c7c6c4 !important;" disabled="disabled" readonly></input>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-6 mt-2">
                <label class="info-title">Violation Type</label><br>
                <select class="form-select " id="driver-violationType-select">
                </select>
            </div>
    
            <div class="col-md-12 col-sm-12 col-lg-6 mt-2">
                <label class="info-title">Vehicle Number</label><br>
                <select class="form-select " id="driver-vehicleNumber-select">
                </select>
            </div>
    
            <div class="col-md-12 col-sm-12 col-lg-6 mt-2">
                <label class="info-title">Start Time</label><br>
                <img alt="" src="../images/driver/calendar.png" style="width: 20px;height: 20px;position: absolute;margin-top: 0.4rem;margin-left: 0.3rem;">
                <input placeholder="Start Time" class="form-control startTime-input" style="padding-left: 2rem;background-color: white !important;border: 1px solid #c7c6c4 !important;" readonly="" lay-key="25">
            </div>
    
            <div class="col-md-12 col-sm-12 col-lg-6 mt-2">
                <label class="info-title">End Time</label><br>
                <img alt="" src="../images/driver/calendar.png" style="width: 20px;height: 20px;position: absolute;margin-top: 0.4rem;margin-left: 0.3rem;">
                <input placeholder="End Time" class="form-control endTime-input" style="padding-left: 2rem;background-color: white !important;border: 1px solid #c7c6c4 !important;" readonly="" lay-key="26">
            </div>
        </div>

      </div>
      <div class="modal-footer" style="padding-bottom: 1.5rem;">
        <button type="button" class="btn btn-success" id="driverConfirm">Confirm</button>
        <button type="button" class="btn btn-secondary" id="driverCancel">Cancel</button>
      </div>
    </div>
  </div>
</div>