<div class="modal fade" id="create-civilian-licence" tabindex="-1" data-backdrop="static" data-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1C9063 !important;">
        <h4 class="modal-title">Add Licence</h4>
      </div>
      <div class="modal-body" style="padding-bottom: 2rem;">
        <div class="row">
            <input id="driverLicenceId" value="" style="display: none;"/>
            <div class="col-md-12 col-sm-12 col-lg-6 mt-2">
              <label class="info-title">Civilian Licence</label><br>
              <select class="form-select " id="driver-licence">
              </select>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-6 mt-2">
                <label class="info-title">Date of Issue</label><br>
                <input placeholder="Date of lssue" class="form-control lssueDate-input" style="background-color: white !important;border: 1px solid #c7c6c4 !important;" readonly="" lay-key="20">
            </div>
            <div class="col-md-12 col-sm-12 col-lg-6 mt-2 cardSerialNo-div">
                <label class="info-title">Card Serial No.</label><br>
                <input class="form-control cardSerialNo-input" oninput="value=value.replace(/[\W]/g,'')" placeholder="Card Serial No." style="background-color: white !important;border: 1px solid #c7c6c4 !important;"/>
            </div>
      </div>
      <div class="modal-footer" style="padding-bottom: 1.5rem;padding-top: 1rem;">
        <button type="button" class="btn custom-btn-gray modal-footer-bunton-cancel-sm" id="driverLicenceCancel">Cancel</button>
        <button type="button" class="btn btn-success modal-footer-bunton-confirm-sm" id="driverLicenceConfirm">Confirm</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="../scripts/driverTo/driver-create-civilian-licence.js"></script>