
<div class="modal fade" id="create-assessment" tabindex="-1" data-backdrop="static" data-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1C9063 !important;">
        <h4 class="modal-title">Add Category</h4>
      </div>
      <div class="modal-body" style="padding-bottom: 2rem;">
        <div class="row">
            <input id="driverAssessmentRecordId" value="" style="display: none;"/>
            <div class="col-md-12 col-sm-12 col-lg-6 mt-2">
                <label class="info-title">Assessment</label><br>
                <select class="form-select " id="driver-assessmentType-select">
                  <option value="Category A Assessment">Category A Assessment</option>
                  <option value="Category B Assessment">Category B Assessment</option>
                  <option value="Category C Assessment">Category C Assessment</option>
                  <option value="Category D Assessment">Category D Assessment</option>
                  <option value="Transport Operator Guide (TOG) Assessment">Transport Operator Guide (TOG) Assessment</option>
                </select>
            </div>
    
            <div class="col-md-12 col-sm-12 col-lg-6 mt-2">
                <label class="info-title">Date</label><br>
                <img alt="" src="../images/driver/calendar.png" style="width: 20px;height: 20px;position: absolute;margin-top: 0.4rem;margin-left: 0.3rem;">
                <input placeholder="" class="form-control issueTime-input" style="padding-left: 2rem;background-color: white !important;border: 1px solid #c7c6c4 !important;" readonly="" lay-key="35">
            </div>
    
            <div class="col-md-12 col-sm-12 col-lg-6 mt-2">
              <label class="info-title">Status</label><br>
              <input type="radio" name="assessmentStatus" value="Pass">&nbsp;&nbsp;Pass</input>
              <input style="margin-left: 10px;" type="radio" name="assessmentStatus" value="Fail">&nbsp;&nbsp;Fail</input>
            </div>
        </div>

      </div>
      <div class="modal-footer" style="padding-bottom: 1.5rem;">
        <button type="button" class="btn custom-btn-gray modal-footer-bunton-cancel-sm" id="driverAssessmentCancel">Cancel</button>
        <button type="button" class="btn btn-success modal-footer-bunton-confirm-sm" id="driverAssessmentConfirm">Confirm</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="../scripts/driverTo/driver-create-assessment.js"></script>