<style>
    /* .info-title {
        color: black;
    } */
</style>

<script src="../scripts/driverTo/edit-task-mileage.js"></script>

<div class="modal fade" id="edit-task-mileage-div" tabindex="-1" data-backdrop="static" data-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1C9063 !important;">
        <h4 class="modal-title" style="background-color: #1C9063 !important;">Edit Task Mileage</h4>
      </div>
      <div class="modal-body" style="padding-bottom: 2rem;">
        <div class="row">
            <input id="editTaskId" value="" style="display: none;"/>
            <div class="col-md-12 col-sm-12 col-lg-6 mt-2">
              <label class="info-title">Start Mileage</label><br>
              <input type="number" min="0" class="form-control startMileage-input" style="background-color: white !important;border: 1px solid #c7c6c4 !important;" lay-key="16">
            </div>
            <div class="col-md-12 col-sm-12 col-lg-6 mt-2">
              <label class="info-title">End Mileage</label><br>
              <input type="number" min="0" class="form-control endMileage-input" style="background-color: white !important;border: 1px solid #c7c6c4 !important;">
            </div>
        </div>

      </div>
      <div class="modal-footer" style="padding-bottom: 1.5rem;">
        <button type="button" class="btn custom-btn-gray modal-footer-bunton-cancel-sm" id="editTaskMileageCancel">Cancel</button>
        <button type="button" class="btn btn-success modal-footer-bunton-confirm-sm" id="editTaskMileageConfirm">Confirm</button>
      </div>
    </div>
  </div>
</div>