<link rel="stylesheet" href="../driver-vehicle-select/img-select.css">
<script type="text/javascript" src="../driver-vehicle-select/img-select.js"></script>

<script type="text/javascript" src="../scripts/driverTo/task-reassign.js"></script>

<style>
    .success-div {
        width: 100%; 
        height: 500px;
    }
    .success-img-div {
        width: 100%;
        height: 300px;
        background-color: white;
        background-image: url('../images/submitted.png');
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .opt-btn-div {
        width: 120px;
        height: 40px;
        border: 1px solid #c8c5c5;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #064220;
        font-weight: 600;
    }
    .modal-title {
        width: 100%;
        height: fit-content;
        background-color: rgb(211 236 234 / 45%);
        border-radius: 10px 10px 0 0;
    }
    .div-table {
		display: table; 
		height: 100%;
	}
	.div-table-cell {
		display: table-cell; 
		text-align: center; 
		vertical-align: middle;
	}
    .circle-status {
        padding: 0 10px;
        border-radius: 5px;
        border: solid 1px rgb(232, 232, 232);
    }
    .circle-status label {
        line-height: 15px;
        font-size: 15px;
        color: rgb(153, 153, 153);
    }
    .div-circle {
        width: 10px; 
        height: 10px; 
        border-radius: 5px; 
        margin: 0 5px;
    }
    .info-title {
        color: black;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 22px;
    }
    .info-value {
        font-weight: 600;
        line-height: 24px;
    }
    .reporting-loc-start {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: grey;
        margin-left: 2px;
    }
    .xu-line-div {
        margin-left: 6px;
        width: 10px;
        height: 100%;
        border-left: 1px dashed grey;
    }
    .reassignReasonDiv {
        border: 1px solid white;
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
        height: 40px;
        background-color: rgb(225, 221, 221);
        color: black;
    }
    .reassignReasonDiv.active {
        background-color: #1C9063;
        color: white;
    }
    .vehicleNo-img-select, .driver-img-select {
        height: 40px;
        line-height: 32px;
        border: 1px solid #ced4da;
        border-radius: 10px;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
</style>

<div class="modal fade" id="driver-task-edit" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="width: 500px; max-height: 550px;">
        <div class="modal-content">
            <div class="modal-title">
                <div class="title-content py-4" style="display: flex;">
                    <div style="width: calc(100% - 50px); padding-left: 20px;">
                        <label class="intentId-label"></label><br/>
                        <label class="title-purpose-label fs-4" style="font-weight: 600;"></label>
                    </div>
                    <div style="width: 50px; text-align: center; height: 100%; padding-top: 10px;">
                        <img alt="" class="close-img" src="../images/x-close.svg">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="edit-content-div">
                    <div class="row">
                        <div class="layui-tab-content" style="padding: 0px; overflow-y: auto; overflow-x: hidden; height: 450px;">
                            <form id="task-info-form">
                                <div class="layui-tab-item layui-show p-2">
                                    <div class="row">
                                        <div class="info-title">Execution Date</div>
                                        <div class="info-value taskExecutionDate"></div>
                                    </div>
                                    <div class="row">
                                        <label class="info-title">Status</label>
                                        <div class="circle-status" style="width: 110px; margin-left: 10px;">
                                            <div class="div-table">
                                                <div class="div-table-cell">
                                                    <div class="div-circle task-statusColor" style="background-color: #0d55f0;"></div>
                                                </div>
                                                <div class="div-table-cell">
                                                    <label class="task-status">Assigned</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-4" style="height: 1px; background-color: rgb(233, 233, 233); border-radius: 2px;"></div>
                                    <div class="row">    
                                        <div class="col-12 my-2">
                                            <label class="serviceModelLabel" style="font-size: 16px; font-weight: bolder;"></label>
                                        </div>
                                        <div class="col-12" style="display: flex;">
                                            <div style="width: 30px;">
                                                <div style="width: 100%;height: 20px; display: flex; align-items: center;">
                                                    <div class="reporting-loc-start"></div>
                                                </div>
                                                <div style="width: 100%;height: calc(100% - 60px)">
                                                    <div class="xu-line-div"></div>
                                                </div>
                                                <div style="width: 100%; height: 24px;display: flex; align-items: center;">
                                                    <img alt="" style="width: 14px;" src="../images/circle-end.png">
                                                </div>
                                            </div>
                                            <div style="width: calc(100% - 30px);">
                                                <div style="width: 100%;">
                                                    <div class="info-title">Reporting Location</div>
                                                    <div class="info-value reporting-loc-label"></div>
                                                </div>
                                                <div class="py-3" style="width: 100%;">
                                                    <div class="info-title">Reporting Details</div>
                                                    <div class="info-value indentStartTime-label"></div>
                                                </div>
                                                <div style="width: 100%;">
                                                    <div class="info-title">Destionation</div>
                                                    <div class="info-value destionation-label"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-4" style="height: 1px; background-color: rgb(233, 233, 233); border-radius: 2px;"></div>
                                    <div class="row">
                                        <div class="col-12 my-2">
                                            <label style="font-size: 16px; font-weight: bolder;">Vehicle Details</label>
                                        </div>
                                        <div class="col-12">
                                            <div>
                                                <div class="info-title">Vehicle No.</div>
                                                <div class="vehicleNo-img-select"></div>
                                            </div>
                                            <div>
                                                <div class="info-title">Transport Operator</div>
                                                <div class="driver-img-select"></div>
                                                <div style="color: orange; font-size: 12px;">You will be reassigning indent to selected transport operator</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-4" style="height: 1px; background-color: rgb(233, 233, 233); border-radius: 2px;"></div>
                                    <div class="row">
                                        <div class="col-12 my-2">
                                            <label style="font-size: 16px; font-weight: bolder;">Reason(s) for reassignment</label>
                                        </div>
                                        <div class="col-12">
                                            <div class="driver-reasons" style="padding-left: 10px; display: none;">
                                                <div class="row">
                                                    <div class="reassignReasonDiv active px-2" style="width: 160px;">
                                                        <label style="line-height: 22px; padding-top: 9px;">Reallocation to Ops</label> 
                                                    </div>
                                                    <div class="reassignReasonDiv px-2 mx-2" style="width: 180px;">
                                                        <label style="line-height: 22px; padding-top: 9px;">Driver on urgent leave</label> 
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="reassignReasonDiv px-2" style="width: 80px;">
                                                        <label style="line-height: 22px; padding-top: 9px;">Others</label> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vehicle-reasons" style="padding-left: 10px; display: none;">
                                                <div class="row">
                                                    <div class="reassignReasonDiv active px-2" style="width: 210px;">
                                                        <label style="line-height: 22px; padding-top: 9px;">Vehicle Under Maintenance</label> 
                                                    </div>
                                                    <div class="reassignReasonDiv px-2 mx-2" style="width: 180px;">
                                                        <label style="line-height: 22px; padding-top: 9px;">Vehicle Out Of Service</label> 
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="reassignReasonDiv px-2" style="width: 80px;">
                                                        <label style="line-height: 22px; padding-top: 9px;">Others</label> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 pt-2" style="padding-right: 20px;">
                                            <textarea id="editDriverTaskRemarks" style="border-color: #ced4da; border-radius: 10px; width: 100%;" rows="3" placeholder="Previous assigned driver is  injured"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row my-3" style="display: flex;">
                        <div class="mt-1" style="width: 50%;display: flex;justify-content: flex-start;">
                            <div class="opt-btn-div tr-opt-btn-div-cancel" onclick="cancleEditTask();" role="button" tabindex="0">
                                <label class="opt-btn-label fs-6">Cancel</label>
                            </div>
                        </div>
                        <div class="mt-1 reassign-btn-div" style="width: 50%;display: flex;justify-content: flex-end;">
                            <div onclick="confirmEditTask();" role="button" tabindex="0" class="opt-btn-div tr-opt-btn-div-create" style="background-color: #1B9063;width: 200px;">
                                <label style="color: white;" class="opt-btn-label fs-6">Reassign</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>