<script type="module" src="../scripts/unit/unit-view.js"></script>
<div class="modal fade" id="view-unit" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View/Edit Unit</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <table aria-hidden="true" id="unit-list">

                    </table>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>