<script type="module" src="../scripts/hq/hq.js"></script>  
<div class="modal" id="modal-waiting">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title">Assigned Driver</h4>
      </div> -->
      <div class="modal-body">
          <div class="row">
            <div class="col-auto">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <div class="col-auto"> 
              Waiting for route create
            </div>
          </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-success" id="driverConfirm">Confirm</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="driverCancel">Cancel</button>
      </div> -->
    </div>
  </div>
</div>