<script type="module" src="../scripts/hq/hq.js"></script>  
<div class="modal" id="myModal" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Assigned&nbsp;Resource</h4>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"></button> -->
      </div>
      <div class="modal-body">
        <div class="mb-3 mt-3" style="height: 60px;">
          Vehicle&nbsp;Number:
          <input type="text" class="form-control select-search search-vehicleNumber" autocomplete="off" id="search-vehicleNumber" placeholder="Vehicle Number" data-unitId="">
          <img alt="" src="../images/hq/search.png" class="leftimg" alt="" draggable="false"/>
          <img alt="" src="../images/hq/drop down arrow.png" class="rightimg" alt="" draggable="false"/>
          <div class="form-select-search form-vehicleNumber-select" style="display: none;">

          </div>
        </div>

        <div class="mb-3 mt-3" style="height: 60px;">
          <div style="position: absolute;">Driver&nbsp;Name(Mobile&nbsp;Number):</div>
          <input type="text" class="form-control select-search search-driverName" autocomplete="off" id="search-driverName" placeholder="Driver Name(Mobile Number)" data-unitId="">
          <img alt="" src="../images/hq/search.png" class="leftimg" alt="" draggable="false"/>
          <img alt="" src="../images/hq/drop down arrow.png" class="rightimg" alt="" draggable="false"/>
          <div class="form-select-search form-driverName-select" style="display: none;">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn custom-btn-gray modal-footer-bunton-cancel-sm" data-bs-dismiss="modal" id="driverCancel">Cancel</button>
        <button type="button" class="btn custom-btn-green modal-footer-bunton-confirm-sm" id="driverConfirm">Confirm</button>
      </div>
    </div>
  </div>
</div>