<!doctype html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.2">

<script type="text/javascript" src="../axios/axios.min.js"></script>
<script type="text/javascript" src="../moment/moment.min.js"></script>
<script type="text/javascript" src="../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../js-cookie/js.cookie.min.js"></script>
<script type="text/javascript" src="../jquery/jquery.form.min.js"></script>
<script type="text/javascript" src="../numeral/numeral.min.js"></script>

<script type="text/javascript" src="../socket.io.min.js"></script>

<script type="text/javascript" src="../jquery-confirm/jquery-confirm.min.js"></script>
<link rel="stylesheet" href="../jquery-confirm/jquery-confirm.min.css">

<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../bootstrap-table/bootstrap-table.min.css">
<script type="text/javascript" src="../bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../echarts/echarts.min.js"></script>

<script type="text/javascript" src="../DataTables-1.10.21/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../DataTables-1.10.21/css/jquery.dataTables.min.css" media="all">

<link rel="stylesheet" href="../transfer/transfer.css">
<script type="text/javascript" src="../transfer/transfer.js"></script>

<link rel="stylesheet" href="../leaflet/leaflet.css">
<link rel="stylesheet" href="../leaflet/leaflet.contextmenu.min.css">
<script type="text/javascript" src="../leaflet/leaflet.js"></script>
<script type="text/javascript" src="../leaflet/leaflet.contextmenu.min.js"></script>
<script type="text/javascript" src="../MovingMarker.js"></script>

<link rel="stylesheet" href="../css/common-style.css">
<link rel="stylesheet" href="../css/common-map.css">
<link rel="stylesheet" href="../css/common-bootstrap.css">
<link rel="stylesheet" href="../css/common-datatables.css">

<script type="text/javascript" src="../pagehelper/pageHelper.js"></script>

<script type="text/javascript" src="../leaflet/leaflet.markercluster.js"></script>
<link rel="stylesheet" href="../leaflet/MarkerCluster.css">

<script type="text/javascript" src="../lodash/lodash.min.js"></script>

<script type="module" src="../scripts/common-script.js"></script>


<link rel="stylesheet" href="../layui/css/layui.css">
<script type="text/javascript" src="../layui/layui.js"></script>
<div class="modal fade" id="customModal" tabindex="-1" data-bs-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login Info</h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" id="btn-ok">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" data-bs-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Attention</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-primary" id="btn-ok">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed top-0 right-0 p-3" style="right: 0; top: 0; z-index: 100;">
    <div id="customToast" style="z-index: 100;" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="1000">
        <div class="toast-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
            </svg>
            <strong class="me-auto ms-2">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
      </div>
</div>

<div class="modal fade" id="loadingModal" style="z-index: 5000;" tabindex="-1" data-bs-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" style="width: 350px;">
        <div class="modal-content">
            <div class="d-flex align-items-center shadow-lg px-4 py-2 rounded">
                <h5 style="line-height: 2; margin-bottom: 0;">Loading...</h5>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
        </div>
    </div>
</div>
