<!doctype html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.2">

<script type="text/javascript" src="../axios/axios.min.js"></script>
<script type="text/javascript" src="../moment/moment.min.js"></script>
<script type="text/javascript" src="../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../js-cookie/js.cookie.min.js"></script>
<script type="text/javascript" src="../jquery/jquery.form.min.js"></script>
<script type="text/javascript" src="../numeral/numeral.min.js"></script>

<script type="text/javascript" src="../socket.io.min.js"></script>

<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../bootstrap-table/bootstrap-table.min.css">
<script type="text/javascript" src="../bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../echarts/echarts.min.js"></script>

<link rel="stylesheet" href="../css/common-style.css">
<link rel="stylesheet" href="../css/common-map.css">
<link rel="stylesheet" href="../css/common-bootstrap.css">
<link rel="stylesheet" href="../css/common-datatables.css">

<script type="text/javascript" src="../pagehelper/pageHelper.js"></script>

<script type="text/javascript" src="../lodash/lodash.min.js"></script>

<script type="module" src="../scripts/common-script.js"></script>

<div class="modal fade" id="customModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-light">
                <h4 class="modal-title">Login Info</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary btn-mobius" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>