<script type="module" src="../scripts/incident/incident-view.js"></script>
<div class="modal fade" id="view-incident" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View/Edit Incident</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <input type="search" class="form-control form-control-sm custom-search search-incident" placeholder="Search">
                    </div>
                </div>
                <div>
                    <table aria-hidden="true" id="incident-list">

                    </table>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>