    <title>Role</title>
    <script type="text/javascript" src="../axios/axios.min.js"></script>
    <script type="text/javascript" src="../moment/moment.min.js"></script>
    <script type="text/javascript" src="../jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../js-cookie/js.cookie.min.js"></script>
    <script type="text/javascript" src="../jquery/jquery.form.min.js"></script>

    <script type="text/javascript" src="../jquery-confirm/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="../jquery-confirm/jquery-confirm.min.css">

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="../bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="../DataTables-bootstrap4/dataTables.bootstrap4.min.css">
    <script src="../DataTables-bootstrap4/jquery.dataTables.min.js"></script>
    <script src="../DataTables-bootstrap4/dataTables.bootstrap4.min.js"></script>
    
    <link rel="stylesheet" href="../css/common-style.css">
    <link rel="stylesheet" href="../css/common-bootstrap.css">
    <link rel="stylesheet" href="../css/common-datatables.css">
    <link rel="stylesheet" href="../css/stylesheets/icon/iconfont.css">

    <script type="module" src="../scripts/common-script.js"></script>

    <script type="text/javascript" src="../numeral/numeral.min.js"></script>
    
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script type="text/javascript" src="../layui/layui.js"></script>

    <script type="text/javascript" src="../scripts/content.js"></script>
    <script type="text/javascript" src="../pagehelper/pageHelper.js"></script>

    
    <script type="text/javascript" src="../lodash/lodash.min.js"></script>
    <%- include('role-edit.html') -%>
    <script type="module" src="../scripts/role/role.js"></script>
    <style>
        table thead th {
            border-style: none;
        }

        table.dataTable tbody tr td {
            text-align: center;
            border-top: 1px solid var(--bs-table-border-color);
            border-bottom: 1px solid var(--bs-table-border-color);
            display: table-cell; 
            vertical-align: middle;
            line-height: 15px;
            font-size: 14px;
        }

        table.dataTable tbody tr {
            background-color: white;
            border: solid 10px #F3F3F3;
            border-radius: 10px;
        }

        table.dataTable tbody tr td:first-child {
            border-bottom-left-radius: 25px;
            border-top-left-radius: 25px;
        }
        table.dataTable tbody tr td:last-child {
            border-bottom-right-radius: 25px;
            border-top-right-radius: 25px;
        }

        table.dataTable thead th {
            line-height: 18px !important;
            font-size: 14px;
        }

        .justify-content-end.m-3 {
            margin-top: 0 !important;
        }

        .table-shadow {
            box-shadow: none;
        }
        .table-common {
            border: none;
            border-radius: 0px;
            background-color: #F3F3F3;
        }

        .jobTask-table {
            margin-left: 10px;
            margin-right: 10px;
        }

        .nav-item {
            font-size: large;
            color: #6c757d;
        }
        .nav-item.active {
            font-size: large;
            color: black;
        }
        .search-input-div {
            display: flex;
            justify-content: left;
            width: calc(100% - 30px);
            margin: 1rem;
            border: 1px solid #ced4da;
            border-radius: 30px;
            background-color: white;
        }
        .search-img-div {
            background-image: url('../images/btn-search.svg');
            width: 30px;
            background-repeat: no-repeat;
            background-size: 15px;
            background-position: 8px center;
        }
        .search-input {
            line-height: 2;
            border: none;
            width: calc(100% - 70px);
            height: 42px;
        }
        .filter-div {
            display: flex;
            margin: 1rem;
            width: calc(100% - 30px);
        }
        .filter-item {
            margin-right: 10px;
        }
        .div-table {
            display: table; 
            height: 100%;
        }
        .div-table-cell {
            display: table-cell; 
            text-align: center; 
            vertical-align: middle;
        }
        .circle-status {
            width: fit-content;
            padding: 0 20px;
            border-radius: 5px;
            border: solid 1px rgb(232, 232, 232);
            margin: auto;
        }
        .circle-status label {
            line-height: 15px;
            font-size: 15px;
            color: rgb(153, 153, 153);
        }
        .div-circle {
            width: 10px; 
            height: 10px; 
            border-radius: 5px; 
            margin: 0 5px;
        }
        .filter-div .form-control {
            background-color: #F9EED8 !important;
            border: 1px solid #EBDE99 !important;
            cursor: pointer;
        }
        .paginate_button.page-item {
            line-height: 1.5em;
        }
        
        .dataTables_length {
            padding-top: 10px;
        }
        .layui-laydate {
            line-height: 1rem !important;
            margin-left: 10px !important;
        }
        
    </style>
    <style>
        .active>.page-link, .page-link.active {
            background-color: #1B9063 !important;
            color: white !important;
            border-color: #1B9063 !important;
        }
        .btn-dashboard.active {
            background-color: #1B9063 !important;
            color: white !important;
            border-color: #1B9063 !important;
        }
        .color-pickup-destination {
            color: #2325AC;
        }
        .icon-down-div {
            height: 18px !important;
            line-height: 6px !important;
        }
        .icon-down {
            line-height: 13px !important;
        }
        .color-dropoff-destination {
            height: 10px !important;
            line-height: 6px !important;
            color: #289D04;
        }

        .alert-primary{
            border:solid 1px #7ed02c;
            background-color: #E9F5DC;
            color: #6bcf06;
            font-weight: 500;
        }
        .alert-warn{
            border:solid 1px #F4902C;
            background-color: #FDE9D5;
            color: #f17a02;
            font-weight: bold; 
        }
        .alert-danger{
            border:solid 1px #E53A40;
            background-color: #FAE1E2;
            /* color: black; */
            font-weight: bold;
            color: rgb(212, 2, 2);
        }
    </style>
    <style>
        .child-container {
            background-color: whitesmoke; 
            border-radius: 5px; 
            line-height: 25px;

            margin: 10px 0;
            padding: 10px 0;
        }
    </style>
    <body style="background-color: white !important;">
        <div class="row px-4 py-2 mx-0" style="box-shadow: 0 5px 5px #a5a4a4;">
            <label class="fs-6 fw-bold" style="color: #133034;">Manage Role</label>
        </div>
        <div class="row px-3 py-2 mx-0 mt-3 justify-content-between">
            <div class="col-10 col-sm-8">
                <div class="row">
                    <label class="roleId" style="display: none;"></label>
                    <div class="col-2 col-sm-3 col-xs-6">
                        <input class="form-control form-control-sm search-module" name="search-module" placeholder="Role Name"/>
                    </div>
                    <!-- <div class="col-2 col-sm-3 col-xs-6">
                        <select class="form-select form-select-sm search-type">
                            <option value="">All</option>
                            <option value="Alert">Alert</option>
                            <option value="Info">Info</option>
                            <option value="Update">Update</option>
                            <option value="Scheduled">Scheduled</option>
                        </select>
                    </div> -->
                    <div class="col-2 col-sm-3 col-xs-6">
                        <button class="btn btn-sm btn-clear" name="clean-all">Clear all</button>
                    </div>
                </div>
            </div>
            
            <div class="col-2 col-sm-4 text-end">
                <% if (userType == 'ADMINISTRATOR' || pageList.find(item => item.module == 'Role Management' && item.page == 'Role Management' && item.action == 'New')) { %>
                    <button type="button" class="btn btn-success btn-sm add-role">Add New Role<img alt="" style="width: 20px; margin-left: 5px; margin-top: -2px;" src="./images/notice/Right-Arrow.svg" /></button>
                <% } %>
            </div>
        </div>
        <div class="container-fluid p-3 m-0" style="overflow: auto;">
            
            <div class="row m-0" style="padding: 10px;">
                <div class="table-common task-table-container active table-shadow" data-item="incident" style="border-radius: 1em;box-shadow: 0 0 5px rgb(201, 201, 201);border: solid 1px rgb(201, 201, 201); border-radius: 5px;">
                    <table aria-hidden="true" class="table role-table pb-2 w-100" style="white-space: nowrap; border-collapse:collapse !important;">
                    </table>
                </div>
            </div>
        </div>
    </body>
