body {
    /* font-size: 0.75vw !important; */
    line-height: 1 !important;
}
.input-height {
    /* height: 38px !important; */
    color: black !important;
}
#pickupDestination-shadow .form-search-select, #dropoffDestination-shadow .form-search-select {
    max-height: 200px !important;
    min-height: 200px !important;
    position: absolute;
    top: -200px;
    background-color: white;
}
input {
    background-color: white !important;    
}
.form-check-input:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}
.shadow-top {
    background-color: white;
    /* height: 80px; */
}

.top-title {
    font-size: 27px;
    font-weight: 600;
    padding-bottom: 15px;
}

.addMtAdmin {
    float: right;
}

.modal-content {
    background-color: #F7F7F7;
}

.data-list td {
    border-color: #c3c1c4 !important;
}
/* 
td {
    color: black !important;
} */

table.indent-table thead th {
    border-bottom: 3px solid #c3c1c4 !important;
}

.data-list thead th {
    background-color: #F3F3F3;
    border-bottom: 0px solid #F3F3F3 !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em !important;
}
.dataTables_length {
    padding-top: 0.85em !important;
}

.dataTables_length select {
    border-radius: 6px;
    color: black;
    font-family: sans-serif;
    border: 1px solid #070606 !important;
}

::-webkit-scrollbar-thumb {
    background: #1B9063;
}

table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting:after, table.dataTable>thead .sorting:before{
    content: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
}

.page-item {
    padding: 0px !important;
    margin: 0px !important;
    border: 0 !important;
}

/* .jconfirm-content, .jconfirm-title {
    color: black !important;
} */

.icon-down {
    line-height: 13px !important;
}

.data-list thead th {
    background-color: #F3F3F3;
    border-bottom: 0px solid #c3c1c4 !important;
}