<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resources Dashboard</title>
    <%- include('../common/common-html.html') -%>
    <link rel="stylesheet" href="../DataTables-bootstrap4/dataTables.bootstrap4.min.css">
    
    <link rel="stylesheet" href="../css/stylesheets/style.css">
    <link rel="stylesheet" href="../css/stylesheets/icon/iconfont.css">
    
    <style>
        body {
            color: white !important;
            background-color: #05101D !important;
        }

        .hubList {
            width: 100%;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
        }
        .hub-div {
            float: left; 
            min-width: 270px; 
            height: 100px; 
            margin: 0 10px; 
            border-radius: 2px;
        }

        .active {
            border: solid 3px #00FF14 !important;
        }

        .active2 {
            border: solid 2px #00FF14 !important;
        }

        /* .active3 {
            background-color: #00FF14 !important;
        } */

        .resourceUsedByNode-image {
            text-align: right;
        }

        .resourceUsedByNode-image img {
            width: 20px;
        }

        .resourceUsedByNode {
            min-height: 260px;
        }
        
        .border_corner{
            /* z-index: 2500; */
            position: absolute;
            width: 12px;
            height: 12px;
            background: rgba(0,0,0,0);
            border: 2px solid #0077EE;
        }
        .border_corner_left_top{
            top: -1px;
            left: -1px;
            border-right: none;
            border-bottom: none;
        }
        .border_corner_right_top{
            top: -1px;
            right: -1px;
            border-left: none;
            border-bottom: none;
        }
        .border_corner_left_bottom{
            bottom: -1px;
            left: -1px;
            border-right: none;
            border-top: none;
        }
        .border_corner_right_bottom{
            bottom: -1px;
            right: -1px;
            border-left: none;
            border-top: none;
        }
        img {
            width: 20px;
        }

        .jconfirm .jconfirm-box {
            color: black !important;
        }
    </style>
</head>
<body>
    <div class="container-fluid mx-0 p-4">
        <div class="row px-0 mx-0 div-top-date" style="height: 30px;">
            <div class="col-12 text-end">
                <div class="row">
                    <div class="col-6 " style="text-align: left;">
                        <label class="div-top-date-hub">Available Resource (Hub)</label>
                    </div>
                    <div class="col-6" style="display: flex;justify-content: flex-end;padding-right: 0;">
                        <input class="form-control input-height current-date custom-input screen-input" style="text-align: center;border: 0;width: 230px;" readonly/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-0 mx-0 div-top-hub" style="height: 130px;">
            <div class="col-1 px-0 mx-0" style="width: 3%;">
                <div class="div-table">
                    <div class="div-table-cell">
                        <img alt="" class="left-arrow" style="width: 30px; cursor: pointer;" src="../images/resourcesDashboard/left-btn.svg" />
                    </div>
                </div>
            </div>
            <div class="col-10 px-0 mx-0" style="width: 94%;padding-left: 10px !important;">
                <div class="row hubList py-1">
                </div>
            </div>
            <div class="col-1 px-0 mx-0" style="width: 3%;">
                <div class="div-table">
                    <div class="div-table-cell">
                        <img alt="" class="right-arrow" style="width: 30px; cursor: pointer;" src="../images/resourcesDashboard/right-btn.svg" />
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row px-0 mx-0 my-2">
            <div class="col-12 text-center" style="background-color: #0F0D47;">
                <label class="fw-bold">Resource Used By Node</label>
            </div>
        </div>
        <div class="row px-0 mx-0">
            <div class="col-12" style="border: solid 1px #0C407E;position: relative;">
                <div class="border_corner border_corner_left_top"></div>
                <div class="border_corner border_corner_right_top"></div>
                <div class="border_corner border_corner_left_bottom"></div>
                <div class="border_corner border_corner_right_bottom"></div>
                <div class="resourceUsedByNode-image p-2">
                    <img alt="" src="../images/resourcesDashboard/driver-orange.svg"> Driver &nbsp;&nbsp;
                    <img alt="" src="../images/resourcesDashboard/vehicle-blue.svg"> Vehicle
                </div>
               <div class="resourceUsedByNode"></div>
            </div>
        </div> -->
    
        <div class="row px-0 mx-0 my-2" style="height: 32px;">
            <div class="col-2 text-center div-node" style="width: 18%;">
                <div style="background-color: #0F0D47;padding-right: 0.1rem;">
                    <label class="fw-bold labelHub" style="color: #00FF14;font-weight: bold;font-size: 1.1rem;"></label> Nodes Availability
                </div>
            </div>
            <div class="col-10 text-center div-hub-node" style="background-color: #0F0D47;width: 82%;">
                <div class="row" style="text-align: right;">
                    <div class="col-3" style="padding-left: 0;"><label class="fw-bold2 labelHubNode" style="color: #00FF14;font-weight: bold;font-size: 1.1rem;"></label></div>
                    <div class="col-9" style="padding-left: 0;">
                        <label class="fw-bold2" style="color: #00FF14;font-weight: bold;font-size: 1.1rem;">(Vehicle)&nbsp;&nbsp;</label>
                        <label class="fw-bold2 labelLoanOutByVehicle" style="color: #00FF14;font-weight: bold;font-size: 1.1rem;"></label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <label class="fw-bold2 labelOnHold" style="color: #00FF14;font-weight: bold;font-size: 1.1rem;"></label> -->
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="fw-bold2" style="color: #00FF14;font-weight: bold;font-size: 1.1rem;">(Driver)&nbsp;&nbsp;</label>
                        <label class="fw-bold2 labelLoanOutByDriver" style="color: #00FF14;font-weight: bold;font-size: 1.1rem;"></label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="fw-bold2 labelStatusInvalidByDriver" style="color: #00FF14;font-weight: bold;font-size: 1.1rem;"></label>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row px-0 mx-0 my-2">
            <div class="col-2 nodeList-div" style="width: 18%;">
                <div class="row nodeList py-1" style="padding-left: 10px !important;padding-right: 10px !important;">
                
                </div>
            </div>
            <div class="col-10 div-hub-nodelist px-0" style="width: 82%;">
                <div class="row p-0 m-0">
                    <div class="col-sm-12 col-md-6 col-lg-6 p-0 m-0">
                        <div class="mx-1 my-2" style="border: solid 1px #0C407E;position: relative;">
                            <div class="border_corner border_corner_left_top"></div>
                            <div class="border_corner border_corner_right_top"></div>
                            <div class="border_corner border_corner_left_bottom"></div>
                            <div class="border_corner border_corner_right_bottom"></div>
                            <div class="vehicle-total p-1" style="text-align: right;display: none;">
                                 Total: <label class="vehicle-label2"></label>
                            </div>  
                            <div class="resourceUsedByNode-image p-2" style="padding-top: 0 !important;">
                                <!-- <div class="row">
                                    <div class="col-12 p-2" style="text-align: center !important;">Vehicle Availability</div>
                                </div> -->
                              
                            </div>
                            <div class="resourceUsedInWeeklyAvailabilityChart" style="height: 240px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 p-0 m-0">
                        <div class="mx-1 my-2" style="border: solid 1px #0C407E;position: relative;">
                            <div class="border_corner border_corner_left_top"></div>
                            <div class="border_corner border_corner_right_top"></div>
                            <div class="border_corner border_corner_left_bottom"></div>
                            <div class="border_corner border_corner_right_bottom"></div>
                            <div class="driver-total p-1" style="text-align: right;display: none;"> Total: <label class="driver-label2"></label></div>  
                            <div class="resourceUsedByNode-image p-2" style="padding-top: 0 !important;">
                                <!-- <div class="row">
                                    <div class="col-12 p-2" style="text-align: center !important;">TO Availability</div>
                                </div> -->
                                
                            </div>
                            <div class="resourceUsedInWeeklyAvailabilityChart2" style="height: 240px;"></div>
                        </div>
                    </div>
                </div>
                <div class="row p-0 m-0" style="padding-right: 0.5rem !important;">
                    <div class="mx-1 my-2" style="border: solid 1px #0C407E;height: 290px;position: relative;">
                        <div class="border_corner border_corner_left_top"></div>
                        <div class="border_corner border_corner_right_top"></div>
                        <div class="border_corner border_corner_left_bottom"></div>
                        <div class="border_corner border_corner_right_bottom"></div>
                        <div class="resourceUsedByNode-image p-2" style="padding-top: 0 !important;">
                            <div class="row">
                                <div class="col-6 p-2" style="text-align: left !important;">Current Usage</div>
                                <div class="col-6 p-2">
                                    <img alt="" src="../images/resourcesDashboard/driver-orange.svg"> Driver <label class="driver-label"></label> &nbsp;&nbsp;
                                    <img alt="" src="../images/resourcesDashboard/vehicle-blue.svg"> Vehicle <label class="vehicle-label"></label>
                                </div>
                            </div>
                        </div>
                        <div class="resourceUsedInWeeklyAssignedChart" style="min-height: 240px;"></div>
                    </div>
                </div>
                <div class="row px-0 mx-0" style="padding-right: 0.5rem !important;">
                    <div class="col-sm-12 col-md-6 col-lg-6 p-0 m-0">
                        <div class="mx-1 my-2" style="border: solid 1px #0C407E;height: 290px;position: relative;">
                            <div class="border_corner border_corner_left_top"></div>
                            <div class="border_corner border_corner_right_top"></div>
                            <div class="border_corner border_corner_left_bottom"></div>
                            <div class="border_corner border_corner_right_bottom"></div>
                            <div class="p-2">
                                <div class="row">
                                    <div class="col-6" style="text-align: left;">Type of TO</div>
                                    <div class="col-6 div-to-date" style="text-align: right;"></div>
                                </div>
                            </div>
                            <div class="driverAssignedChart" style="min-height: 240px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 p-0 m-0">
                        <div class="mx-1 my-2" style="border: solid 1px #0C407E;height: 290px;position: relative;margin-right: -0.3rem !important;">
                            <div class="border_corner border_corner_left_top"></div>
                            <div class="border_corner border_corner_right_top"></div>
                            <div class="border_corner border_corner_left_bottom"></div>
                            <div class="border_corner border_corner_right_bottom"></div>
                            <div class="p-2">
                                <div class="row">
                                    <div class="col-6" style="text-align: left;">Type of Indent</div>
                                    <div class="col-6 div-task-date" style="text-align: right;"></div>
                                </div>
                            </div>
                            <div class="vehicleAssignedChart" style="min-height: 240px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../scripts/resourcesDashboard/resourcesDashboard2.js"></script>
</html>