<script type="module" src="../scripts/hotoManagement/hotoManagement.js"></script> 
<style>
    .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
        border-top-right-radius: 6px !important;
        border-bottom-right-radius: 6px !important;
    }

    .col-form-label {
        text-align: right;
        font-weight: bold;
    }

    .btn-hotoConfirm {
        pointer-events: none;
        cursor: not-allowed;
        background-color: #bbbab9 !important;
    }
</style>
<div class="modal fade" id="requestModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content border-0">
          <div class="modal-header modal-header-background">
              <button type="button" class="btn-close btn-close-white requestCancel" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row m-2">
                  <div class="col-md-12">
                      <form id="base-task-form">
                        <div class="mb-2 col-md-12 col-lg-10 col-sm-10">
                           <div class="row">
                                <label class="col-sm-5 col-form-label">Activity Name:</label>
                                <div class="col-sm-7">
                                    <textarea class="form-control" id="activityName" name="activityName" placeholder="Activity Name" autocomplete="off"></textarea>
                                </div>
                           </div>
                        </div>
                        <div class="mb-2 col-md-12 col-lg-10 col-sm-10">
                            <div class="row">
                                <label for="purposeType" class="col-sm-5 col-form-label">Purpose:</label>
                                <div class="col-sm-7">
                                    <select class="form-select" id="purposeType" name="purposeType">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 col-md-12 col-lg-10 col-sm-10">
                            <div class="row">
                                <label class="col-sm-5 col-form-label">Request For:</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-6">
                                            <select class="form-select select-myHub" placeholder="hub">
                                                <option value="all">Hub:All</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <select class="form-select select-myNode" placeholder="Node">
                                                <option value="">Node: All</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 col-md-12 col-lg-10 col-sm-10">
                            <div class="row">
                                <label for="platformType" class="col-sm-5 col-form-label">Type:</label>
                                <div class="col-sm-7">
                                    <select class="form-select" id="platformType" name="platformType">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 mt-2 col-md-12 col-lg-10 col-sm-10">
                            <div class="row">
                                <label class="col-sm-5 col-form-label mb-2">Start Time:</label>
                                <div class="col-sm-7 mb-2">
                                    <input class="form-control" id="periodStartDate" name="periodStartDate" autocomplete="off" lay-key="8" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 mt-2 col-md-12 col-lg-10 col-sm-10">
                            <div class="row">
                                <label class="col-sm-5 col-form-label mb-2">End Time:</label>
                                <div class="col-sm-7 mb-2">
                                    <input class="form-control" id="periodEndDate" name="periodEndDate" autocomplete="off" lay-key="9" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 col-md-12 col-lg-10 col-sm-10">
                            <div class="row">
                                <label for="resourceType" class="col-sm-5 col-form-label">Resource:</label>
                                <div class="col-sm-7">
                                    <select class="form-select resourceType" name="resourceType">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 col-md-12 col-lg-10 col-sm-10">
                            <div class="row">
                                <label class="col-sm-5 col-form-label">Resource Qty:</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control resource-qty-input" onkeyup="value=value.replace(/[^\d]/g,'')">
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 col-md-12 col-lg-10 col-sm-10">
                            <div class="row">
                                 <label class="col-sm-5 col-form-label">Explanation:</label>
                                 <div class="col-sm-7">
                                     <textarea class="form-control" id="explanation" name="explanation" placeholder="Explanation" autocomplete="off"></textarea>
                                 </div>
                            </div>
                         </div>
                      </form>
                  </div>
              </div>
              <div class="row justify-content-center pt-3" id="button1-row" style="padding-bottom: 3rem;padding-top: 3rem !important;padding-left: 2rem;">
                  <div class="col-auto">
                      <button type="button" class="btn btn-outline-secondary custom-btn-gray modal-footer-bunton-cancel-sm requestCancel" data-bs-dismiss="modal">Cancel</button>
                  </div>
                  <div class="col-auto action-button">
                    <button type="button" class="btn btn-success modal-footer-bunton-confirm-sm" id="requestConfirm">Confirm</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>