<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOTO Request</title>
    <%- include('../common/common-html.html') -%>
    <link rel="stylesheet" href="../DataTables-bootstrap4/dataTables.bootstrap4.min.css">
    
    <link rel="stylesheet" href="../css/stylesheets/style.css">
    <link rel="stylesheet" href="../css/stylesheets/icon/iconfont.css">
    <link rel="stylesheet" href="../css/indent/indent.css">
    <link rel="stylesheet" href="../css/indent/history.css">
    <link rel="stylesheet" href="../multiple-select/multiple-select.css">
    <link rel="stylesheet" href="../datepicker/css/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="../css/hoto/hoto.css">

    <script src="../DataTables-bootstrap4/jquery.dataTables.min.js"></script>
    <script src="../DataTables-bootstrap4/dataTables.bootstrap4.min.js"></script>
    <script type="module" src="../scripts/util/util.js"></script> 
    <script type="module" src="../scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="../pagehelper/pageHelper.js"></script>
    <script type="text/javascript" src="../datepicker/js/datepicker.js"></script>
    <script type="text/javascript" src="../multiple-select/multiple-select.js"></script>
    <script type="module" src="../scripts/hotoManagement/viewManagement.js"></script> 
    <style>
        .lable-name {
            font-weight: bold;
        }
        table.dataTable thead .sorting_asc {
            background-image: none;
        }
        .dataTables_wrapper.no-footer .dataTables_scrollBody {
            border-bottom: 0px solid;
        }
        div.dataTables_wrapper div.dataTables_info {
            padding-top: 0.6rem !important;
        }
        table.dataTable tr {
            border: 1px #eae9e9e8 !important;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 0!important;
        }
        .multiple-select-content {
            min-width: 300px !important;
        }

        .span-table.active {
            font-weight: bold;
            /* font-size: 1.5rem; */
            border-bottom: 4px solid #1B9063 !important;
            color: #1B9063 !important;
        }
    </style>
</head>
<body>
    <div class="container-fluid h-100 m-0 p-0 view-request" style="overflow-x: hidden;">
        <div class="shadow shadow-top" style="background-color: white;">
            <div class="row">
                <div class="col-6"><div class="top-title pt-3 px-3 m-1 me-0" style="font-size: 1.2rem;font-weight: bold;">Assign Vehicle/TO</div></div>
            </div>
            <div class="row select-div-row" style="padding-left: 1rem;padding-right: 1rem;padding-bottom: 1rem;display: none;">
                <div class="col-auto pt-2 from-hub-div">
                    <!-- <div class="row"> -->
                        <!-- <div class="col-4" style="line-height: 2.2rem;">
                            <label class="lable-name">From Hub: </label>
                        </div>
                        <div class="col-7"> -->
                            <select class="form-select form-hub" placeholder="hub"></select>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
                <div class="col-auto pt-2 from-node-div">
                    <!-- <div class="row">
                        <div class="col-3" style="line-height: 2.2rem;">
                            <label class="lable-name">From Node: </label>
                        </div>
                        <div class="col-8"> -->
                            <select class="form-select form-node" placeholder="node"><option value="all">Node:All</option></select>
                        <!-- </div>
                    </div>                 -->
                </div>
                <div class="col-auto pt-2 driver-vehicle-div">
                    <input class="form-control screen-vehicle-input screen-vehicle" style="display: none;" placeholder="Vehicle No"/>             
                    <input class="form-control screen-driver-input screen-driver" placeholder="Driver Name"/>             
                </div>
                <div class="col-auto pt-2 permitType-div">
                    <input class="form-control" name="permitType" id="permitType" autocomplete="off" placeholder="Permit Type: All" />
                    <!-- <select class="form-select form-control" name="permitType" id="permitType">
                        <option value="">Permit Type: All</option>
                    </select> -->
                </div>
                <div class="col-auto pt-2 clearAll-hoto-div">
                    <button class="btn btn-clear clearAll-hoto" type="button" style="font-weight: bold;color: #BEBEBE;">Clear all</button>
                </div>
            </div>
        </div>
        <div class="body-bottom mx-3 mt-4 rounded" style="background-color: white;">
            <div class="row mx-1" style="padding: 10px;">
                <div class="col-md-6 col-lg-3 col-sm-6 py-2">
                    <label class="lable-name">Activity Name: </label>
                    <label class="activityName-view"></label>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 py-2">
                    <label class="lable-name">Purpose: </label>
                    <label class="purpose-view"></label>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 py-2">
                    <label class="lable-name">Start Time:  </label>
                    <label class="startTime-view"></label>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 py-2">
                    <label class="lable-name">End Time: </label>
                    <label class="endTime-view"></label>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 py-2">
                    <label class="lable-name">Resource:  </label>
                    <label class="resource-view"></label>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 py-2">
                    <label class="lable-name">Resource Qty:  </label>
                    <label class="resourceQty-view"></label>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 py-2">
                    <label class="lable-name">Request Status: </label>
                    <label class="status-view"></label>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 py-2">
                    <label class="lable-name">Type: </label>
                    <label class="type-view"></label>
                </div>
                
                <!-- <div class="col-md-6 col-lg-3 col-sm-6 py-2">
                    <label class="lable-name">My Hub: </label>
                    <label class="hub-view"></label>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 py-2">
                    <label class="lable-name">My Node: </label>
                    <label class="node-view"></label>
                </div> -->
                <div class="col-md-6 col-lg-3 col-sm-6 py-2">
                    <label class="lable-name">Request For: </label>
                    <label class="requestFor-view"></label>
                </div>
                
                <!-- <div class="col-md-6 col-lg-3 col-sm-6 py-2 from-hub-div" style="display: none;">
                    <div class="row">
                        <div class="col-3" style="line-height: 2.2rem;">
                            <label class="lable-name">From Hub: </label>
                        </div>
                        <div class="col-8">
                            <select class="form-select form-hub" placeholder="hub"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 py-2 from-node-div" style="display: none;">
                    <div class="row">
                        <div class="col-3" style="line-height: 2.2rem;">
                            <label class="lable-name">From Node: </label>
                        </div>
                        <div class="col-8">
                            <select class="form-select form-node" placeholder="node"><option value="all">Node:All</option></select>
                        </div>
                    </div>                
                </div> -->
                
                <div class="col-md-6 col-lg-3 col-sm-6 py-2">
                    <label class="lable-name updateTime-name">Update Time: </label>
                    <label class="updateTime-view"></label>
                </div>
               
                <div class="col-md-12 col-lg-3 col-sm-12 py-2">
                    <label class="lable-name">Explanation: </label>
                    <label class="explanation-view"></label>
                </div>

            </div>
        </div>
        <div class="div-table-span row mx-0 justify-content-around" style="text-align: left;font-size: 1.3rem;">
            <div class="col align-self-end">
                <ul class="nav">
                    <li style="padding: 0rem 1rem;">
                        <span class="span-table active" style="width: 80px;cursor: pointer;">Current</span>
                    </li>
                    <li style="padding: 0rem 1rem;">
                        <span class="span-table" style="width: 170px;text-align: center;cursor: pointer;">History</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="body-bottom mx-3 py-2 rounded current-div" style="padding-bottom: 1rem;background-color: transparent !important;">
            <div class="row mx-1" style="margin-left: 0.01rem !important;margin-right: 0.01rem !important;">
                <div class="table-common table-shadow">
                    <table aria-hidden="true" class="table data-list pb-2 w-100" style="white-space: nowrap; border-collapse:collapse !important;">
                    </table>
                    <div class="row justify-content-center pt-3" id="request-button" style="padding-bottom: 3rem;padding-top: 1rem !important;">
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-secondary requestCancel custom-btn-gray modal-footer-bunton-cancel-lg" style="display: none;">Cancel</button>
                        </div>
                        <div class="col-auto action-button">
                          <button type="button" class="btn btn-success modal-footer-bunton-confirm-lg" id="requestAssign">Assign</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-bottom mx-3 rounded history-div" style="padding-bottom: 1rem;background-color: transparent !important;display: none;">
            <div class="row mx-1" style="margin-left: 0.01rem !important;margin-right: 0.01rem !important;">
                <div class="table-common table-shadow">
                    <table aria-hidden="true" class="table data-list2 pb-2 w-100" style="white-space: nowrap; border-collapse:collapse !important;">
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>