<script type="module" src="../scripts/urgent/urgentConfig.js"></script> 
<style>
    .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
        border-top-right-radius: 6px !important;
        border-bottom-right-radius: 6px !important;
    }

    #urgentDutyModal .leftimg {
        width: 20px;
        height: 20px;
        position: absolute;
        margin-top: 0.5rem;
        margin-left: 0.3rem;
    }

    .check-input, .check-input2 {
        appearance: none;
        position: relative;
        outline: none;
    }

    .check-input::before, .check-input2::before {
        content: "";
        height: 17px;
        width: 17px;
        border: 1px solid #999;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
    }

    .check-input:checked::before, .check-input2:checked::before {
        content: "";
        height: 17px;
        width: 17px;
        border: 1px solid #999;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
    }

    .check-input:checked::after, .check-input2:checked::after {
        content: "";
        height: 9px;
        width: 9px;
        text-align: center;
        background-color: #00A138;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0.55rem;
        left: 0.25rem;
    }

    .check-input::after, .check-input2::after {
        content: "";
        height: 9px;
        width: 9px;
        text-align: center;
        background-color: #DDDDDD;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0.55rem;
        left: 0.25rem;
    }
    .modal-body {
        background-color: white;
    }

    .btn-disabled {
        pointer-events: none;
        cursor: not-allowed;
        background-color: #bbbab9 !important;
    }
</style>
<div class="modal fade" id="urgentDutyModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content border-0">
          <div class="modal-header modal-header-background">
              <h5 class="modal-title">Urgent Duty</h5>
              <button type="button" class="btn-close btn-close-white urgentDutyCancel" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row m-2">
                  <div class="col-md-12 col-sm-12 col-lg-6 div-hr-modal" style="padding-right: 4rem;border-right: 2px dashed #D7D7D7;">
                      <form id="base-task-form">
                          <div class="mb-2 row">
                              <label for="purposeType" class="col-sm-5 col-form-label text-end">Purpose:</label>
                              <div class="col-sm-7">
                                  <select class="form-select" id="purposeType" name="purposeType">
                                      <option value=""></option>
                                  </select>
                              </div>
                          </div>
                          <div class="mb-2 row hub-select-row" style="display: none;">
                            <label class="col-sm-5 col-form-label text-end">Hub:</label>
                            <div class="col-sm-7">
                                <select class="form-select hub-select" name="hub"></select>
                            </div>
                        </div>
                        <div class="mb-2 row node-select-row" style="display: none;">
                            <label class="col-sm-5 col-form-label text-end">Node:</label>
                            <div class="col-sm-7">
                                <select class="form-select node-select" name="node"></select>
                            </div>
                        </div>
                      </form>
                  </div>
                  <div class="col-md-12 col-sm-12 col-lg-6" >
                    <form id="task-form">
                        <div class="mb-2 row">
                            <label for="category" class="col-sm-5 col-form-label text-end">Category:</label>
                            <div class="col-sm-7" id="category-radio" style="padding-top: 0.3rem;">
                            <div class="form-check">
                                <div class="" style="line-height: 1.5rem;">
                                    <input class="check-input2" type="radio" name="category" id="MV" value="MV" checked>
                                    <label class="form-check-label" for="MV">MV</label>
                                </div>
                            </div>
                            </div>
                        </div>                            
                        <div class="mb-2 row mt-2" id="date-select">
                        <div class="col-sm-5 mb-2 text-end">
                            <label class="col-form-label mb-2">Start Date:</label>
                        </div>
                        <div class="col-sm-7 mb-2">
                            <img alt="" src="../images/urgentConfig/date.png" style="width: 20px;height: 20px;position: absolute;margin-top: 0.5rem;margin-left: 0.5rem;">
                            <!-- <label style="position: absolute;margin-top: 0.7rem;margin-left: 2rem;font-size: 1rem;">09:30-17:00</label> -->
                            <input class="form-control" id="periodStartDate" name="periodStartDate" autocomplete="off" lay-key="8" readonly style="padding: 0.375rem 0 0.375rem 2rem !important;">
                        </div>
                        <div class="col-sm-5 mb-2 text-end">
                            <label class="col-form-label mb-2">End Date:</label>
                        </div>
                        <div class="col-sm-7 mb-2">
                            <img alt="" src="../images/urgentConfig/date.png" style="width: 20px;height: 20px;position: absolute;margin-top: 0.5rem;margin-left: 0.5rem;">
                            <!-- <label style="position: absolute;margin-top: 0.7rem;margin-left: 2rem;font-size: 1rem;">09:30-17:00</label> -->
                            <input class="form-control" id="periodEndDate" name="periodEndDate" autocomplete="off" lay-key="9" readonly style="padding: 0.375rem 0 0.375rem 2rem !important;">
                        </div>
                        </div>
                        <!-- <div class="mb-2 row">
                            <label for="" class="col-sm-5 col-form-label text-end">Resource:</label>
                            <div class="col-sm-7" style="padding-top: 0.3rem;">
                                <div class="row p-0">
                                    <div class="col-7 p-0">
                                        <div class="" style="line-height: 1.5rem;">
                                            <input class="check-input resource-type" id="resource-type1" type="radio" name="resource-type" value="Ford Everest OUV" checked>
                                            <label class="form-check-label" for="Ford Everest OUV">Ford Everest OUV</label>
                                        </div>
                                    </div>
                                    <div class="col-5 p-0">
                                        <div class="" style="line-height: 1.5rem;">
                                            <input class="check-input resource-type" id="resource-type2" type="radio" name="resource-type" value="5 Ton GS (Auto)">
                                            <label class="form-check-label" for="5 Ton GS (Auto)">5 Ton GS (Auto)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="mb-2 row">
                            <label for="" class="col-sm-5 col-form-label text-end">Resource:</label>
                            <div class="col-sm-7">
                                <select class="form-select resourceType" name="resourceType">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <label for="vehicleNo" class="col-sm-5 col-form-label text-end">Vehicle No:</label>
                            <div class="col-sm-7">
                                <div class="position-relative">
                                    <div class="input-group">
                                        <input type="text" class="form-select" id="vehicleNo" data-unitId="" name="vehicleNo" data-value="" autocomplete="off" style="border-radius: 6px;" readonly>
                                        <div class="search-select shadow" id="vehicleNo-shadow" style="max-width: 100%;">
                                            <img alt="" src="../images/hq/search.png" class="leftimg" alt="" draggable="false"/>
                                            <input type="text" class="form-control" autocomplete="off" id="search3" placeholder="search VehicleNo" style="padding: 0.375rem 2rem !important;">
                                            <div class="form-search-select">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <label for="driver" class="col-sm-5 col-form-label text-end">Driver:</label>
                            <div class="col-sm-7">
                                <div class="position-relative">
                                    <div class="input-group">
                                        <input type="text" class="form-select" id="driver" data-id="" data-unitId="" name="driver" autocomplete="off" style="border-radius: 6px;" readonly>
                                        <div class="search-select shadow" id="driver-shadow" style="max-width: 100%;">
                                            <img alt="" src="../images/hq/search.png" class="leftimg" alt="" draggable="false"/>
                                            <input type="text" class="form-control" autocomplete="off" id="search4" placeholder="search driver" style="padding: 0.375rem 2rem !important;">
                                            <div class="form-search-select">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                  </div>
              </div>
              <div class="row justify-content-center pt-3" id="button1-row" style="padding-bottom: 3rem;padding-top: 3rem !important;">
                  <div class="col-auto modal-footer-bunton-cancel-lg">
                      <button type="button" class="btn custom-btn-gray urgentDutyCancel" data-bs-dismiss="modal">Cancel</button>
                  </div>
                  <div class="col-auto action-button modal-footer-bunton-confirm-lg">
                    <button type="button" class="btn btn-success" id="urgentDutyConfirm">Confirm</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>